/* raleway-regular - latin */
@font-face {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 400;
    font-display: swap;

    src: url("fonts/raleway-latin-regular.woff2") format("woff2");
}

/* raleway-italic - latin */
@font-face {
    font-family: "Raleway";
    font-style: italic;
    font-weight: 400;
    font-display: swap;

    src: url("fonts/raleway-latin-italic.woff2") format("woff2");
}

/* raleway-600 - latin */
@font-face {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 600;
    font-display: swap;

    src: url("fonts/raleway-latin-600.woff2") format("woff2");
}

/* raleway-600italic - latin */
@font-face {
    font-family: "Raleway";
    font-style: italic;
    font-weight: 600;
    font-display: swap;

    src: url("fonts/raleway-latin-600italic.woff2") format("woff2");
}

/* raleway-700 - latin */
@font-face {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 700;
    font-display: swap;

    src: url("fonts/raleway-latin-700.woff2") format("woff2");
}

/* raleway-700italic - latin */
@font-face {
    font-family: "Raleway";
    font-style: italic;
    font-weight: 700;
    font-display: swap;

    src: url("fonts/raleway-latin-700italic.woff2") format("woff2");
}

:root {
    --border-radius: 10px;
    --border-radius-small: 5px;
    --font-family-text: Raleway, system-ui, sans-serif;
    --font-family-title: Raleway, system-ui, sans-serif;

    --radius-button: var(--border-radius);
}

body {
    line-height: 1.4;

    background: #f7f6f4;
}

a {
    border-radius: var(--border-radius-small);
}

h1 a {
    display: inline-block;
}

a:hover,
a:focus {
    color: #004635;
}

h1 a:focus {
    outline-offset: -2px;
}

fieldset,
legend {
    background: #f7f6f4;
    box-shadow: none;
}

*:focus,
.popup__opener:focus > * {
    outline-color: currentcolor;
    outline-offset: 2px;
    outline-width: 2px;
}

.layout--connected .layout__header {
    background: #00d7ad;
}

@media (min-width: 800px) {
    .layout__content {
        border-radius: var(--border-radius);
    }
}

.header__link {
    border-radius: 0;
}

.header__action {
    background-color: #21e0b6;
    border-radius: 3rem;
}

@media (min-width: 800px) {
    .header__action {
        border-radius: var(--border-radius);
    }
}

.layout--connected .layout__header .header__link--active {
    border-bottom-color: #f7f6f4;
}

.card,
.link {
    box-shadow: 0 0 3px 0 var(--color-grey-3);
    border-radius: var(--border-radius);
}

.card--shadow {
    box-shadow: none;
}

.card__body:first-child {
    border-radius: var(--border-radius) var(--border-radius) 0 0;
}

.card__body:last-child,
.card__footer {
    border-bottom-right-radius: var(--border-radius);
    border-bottom-left-radius: var(--border-radius);
}

.link .link__image-container {
    overflow: hidden;

    border-radius: var(--border-radius);
}

@media (min-width: 800px) {
    .link:not(.link--compact) .link__image-container {
        border-radius: var(--border-radius) var(--border-radius) 0 0;
    }
}

.card--action {
    padding: 0;
}

.card__button {
    color: white;

    background: #006f54;
    border-radius: var(--border-radius);
}

.card__button:hover,
.card__button:focus {
    background: #004635;
}

.link {
    background-color: white;
}

.link:focus-within {
    box-shadow: 0 1px 4px 1px var(--color-grey-3);
}

.link__actions {
    background: #f7f6f4;
    box-shadow: none;
    border-radius: 0 0 var(--border-radius) var(--border-radius);
}

.link__actions-button {
    border-radius: 3rem;
}

.link__actions-button:hover {
    border-color: var(--color-grey-2);
}

.link__meta-date {
    opacity: 1;

    background-color: #e5f2ed;
}

.group__icon {
    display: none;
}

.group__separator {
    height: 2px;

    background: #73dabb;
}

.reading-nav__container {
    border: none;
    border-radius: var(--border-radius);
}

.reading-nav__anchor {
    font-weight: 600;

    background-color: #caf1e3;
    border-radius: 0;
}

.reading-nav__anchor:hover {
    background-color: #aeedd8;
}

.reading-nav__anchor[aria-current="page"] {
    background-color: #00d7ad;
}

.reading-nav__item .reading-nav__anchor:focus {
    outline-offset: -2px;
}

.anchor--action {
    font-weight: 600;

    border-radius: var(--border-radius);
}

button,
.button {
    color: currentcolor;
    font-weight: 600;

    background-color: rgb(0 0 0 / 5%);
    border: 1px solid currentcolor;
}

button[disabled] {
    cursor: not-allowed;
    filter: grayscale(.6) opacity(.7);
}

.button--primary,
.news__postpone-button {
    color: #0c3b34;

    background-color: #00d7ad;
    border: none;
}

.button--primary:focus,
.news__postpone-button:focus {
    background-color: #00d7ad;
}

.button--primary:hover,
.news__postpone-button:hover {
    background-color: #00baa8;
}

.button--primary[disabled],
.news__postpone-button[disabled] {
    color: #0c3b34;

    background-color: #00d7ad;
}

.popup__opener[aria-expanded="true"] .button {
    background-color: white;
}

.popup__opener[aria-expanded="true"] .news__postpone-button {
    background-color: #00baa8;
}

.button--ghost {
    background-color: transparent;
    border-color: transparent;
}

.button--danger {
    color: white;

    background-color: #d91a44;
    border-color: transparent;

    outline-color: #d91a44;
}

.button--danger:hover,
.button--danger:focus {
    background-color: #ce003d;
    border-color: transparent;
}

.popup__item--button {
    font-weight: 400;
}

.popup__item--button[disabled] {
    filter: none;
}

.groupnav__item {
    border-color: #c5cfcc;
}

.groupnav__anchor {
    border-radius: 0;
}

.groupnav__anchor:hover,
.groupnav__anchor:focus {
    color: #004635;

    background-color: #caf1e3;
}

.sticker {
    color: #006f54;

    background-color: #caf1e3;
    border-radius: var(--border-radius);
}

.news__source-group {
    margin-left: 0;

    border: none;
    border-radius: var(--border-radius);
}

.pagination__container {
    background-color: #f7f6f4;
}

.message__content {
    padding-right: var(--space-medium);
    padding-left: var(--space-medium);
}

.message__content blockquote {
    --blockquote-icon-size: 40px;

    position: relative;

    padding: var(--space-smaller) var(--space-medium) var(--space-smaller) var(--space-large);

    color: #004635;

    background: #f7f6f4;
    border-radius: var(--border-radius);
}

@media (min-width: 800px) {
    .message__content blockquote {
        padding-right: var(--space-large);
    }
}

.message__content blockquote::before {
    content: "";

    position: absolute;
    top: var(--space-medium);
    left: calc(-1 * var(--blockquote-icon-size) / 2);

    display: block;
    width: var(--blockquote-icon-size);
    height: var(--blockquote-icon-size);

    background-color: #00d7ad;

    mask-image: url("../assets/block-quote-YYCDKVSM.svg");
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: cover;
}

.message__content blockquote::after {
    content: "";

    position: absolute;
    top: calc(var(--blockquote-icon-size) + var(--space-medium));
    bottom: var(--space-medium);
    left: 0;

    display: block;
    width: 2px;

    background: linear-gradient(to bottom, #00d7ad, #f7f6f4);
}

.alert {
    border: none;
}

.alert--info {
    color: #061309;

    background-color: #e9f0ee;
    background-image: url("../assets/info-35TZKYE6.svg");
}

.alert--info .alert__title {
    color: currentcolor;
}

.section__title h1 {
    font-size: 1.5em;
    line-height: 1.1;
}

.section__title h1::after {
    max-width: 50%;
    height: 2px;
    margin-top: 0.2em;

    background: #73dabb;
}

@media (min-width: 800px) {
    .section__image {
        border-radius: var(--border-radius) var(--border-radius) 0 0;
    }
}

.spinner {
    background-color: #21e0b6;
}

select {
    background-color: #fff;
}

select:not([disabled]):hover,
select:not([disabled]):focus {
    background-color: #fff;
}

input[type="radio"]:focus + label::before,
input[type="checkbox"]:focus + label::before {
    outline: 2px solid currentcolor;
    outline-offset: 2px;
}

input[type="checkbox"] + .topics-selector__label {
    border: 1px solid currentcolor;
}

input[type="checkbox"]:focus + .topics-selector__label {
    box-shadow: none;

    outline: 2px solid currentcolor;
    outline-offset: 2px;
}

input[type="checkbox"]:focus + .topics-selector__label::before {
    outline-color: transparent;
}

input[type="checkbox"]:checked + .topics-selector__label {
    border-color: transparent;
}

.share {
    background: #f7f6f4;
}

.turbo-progress-bar {
    background: linear-gradient(to right, #00d7ad, #0c3b34);
    border-radius: 0 var(--border-radius-small) var(--border-radius-small) 0;
}

.popup__container {
    background: #f7f6f4;
    box-shadow: 0 -2px 8px 1px rgb(0 0 0 / 20%);
}

@media (min-width: 800px) {
    .popup__container {
        box-shadow: 0 0 8px 1px rgb(0 0 0 / 20%);
        border-radius: var(--border-radius);
    }
}

.popup__item {
    border: none;
    border-radius: var(--border-radius);
}

.popup__item:focus,
.popup__item:hover {
    color: #004635;

    background-color: #caf1e3;
}

.popup__item:focus {
    outline: 2px solid currentcolor;
    outline-offset: 2px;
}

.popup__separator {
    background-color: #c5cfcc;
}
