/* raleway-regular - latin */
@font-face {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 400;
    font-display: swap;

    src: url("fonts/raleway-latin-regular.woff2") format("woff2");
}

/* raleway-italic - latin */
@font-face {
    font-family: "Raleway";
    font-style: italic;
    font-weight: 400;
    font-display: swap;

    src: url("fonts/raleway-latin-italic.woff2") format("woff2");
}

/* raleway-600 - latin */
@font-face {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 600;
    font-display: swap;

    src: url("fonts/raleway-latin-600.woff2") format("woff2");
}

/* raleway-600italic - latin */
@font-face {
    font-family: "Raleway";
    font-style: italic;
    font-weight: 600;
    font-display: swap;

    src: url("fonts/raleway-latin-600italic.woff2") format("woff2");
}

/* raleway-700 - latin */
@font-face {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 700;
    font-display: swap;

    src: url("fonts/raleway-latin-700.woff2") format("woff2");
}

/* raleway-700italic - latin */
@font-face {
    font-family: "Raleway";
    font-style: italic;
    font-weight: 700;
    font-display: swap;

    src: url("fonts/raleway-latin-700italic.woff2") format("woff2");
}

:root {
    --border-radius: 10px;

    --radius-button: var(--border-radius);
}

body {
    font-family: Raleway, system-ui, sans-serif;
    line-height: 1.4;

    background: #f7f6f4;
}

a {
    border-radius: var(--border-radius);
}

a:hover,
a:focus {
    color: #004635;
}

fieldset,
legend {
    background: #f7f6f4;
    box-shadow: none;
}

*:focus,
.popup__opener:focus > * {
    outline-color: currentcolor;
    outline-offset: 2px;
    outline-width: 2px;
}

.layout--connected .layout__header {
    background: #00d7ad;
}

@media (min-width: 800px) {
    .layout__content {
        border-radius: var(--border-radius);
    }
}

.header__link {
    border-radius: 0;
}

.header__action {
    background-color: #21e0b6;
    border-radius: 3rem;
}

@media (min-width: 800px) {
    .header__action {
        border-radius: var(--border-radius);
    }
}

.layout--connected .layout__header .header__link--active {
    border-bottom-color: #f7f6f4;
}

.card,
.link {
    box-shadow: 0 0 3px 0 var(--color-grey-3);
    border-radius: var(--border-radius);
}

.card--shadow {
    box-shadow: none;
}

.card__body:first-child {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card__body:last-child,
.card__footer {
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.link .link__image-container {
    overflow: hidden;

    border-radius: var(--border-radius);
}

@media (min-width: 800px) {
    .link:not(.link--compact) .link__image-container {
        border-radius: var(--border-radius) var(--border-radius) 0 0;
    }
}

.card--action {
    padding: 0;
}

.card__button {
    color: white;

    background: #006f54;
    border-radius: var(--border-radius);
}

.card__button:hover,
.card__button:focus {
    background: #004635;
}

.link {
    background-color: white;
}

.link:focus-within {
    box-shadow: 0 1px 4px 1px var(--color-grey-3);
}

.link__actions {
    background: #f7f6f4;
    box-shadow: none;
    border-radius: 0 0 var(--border-radius) var(--border-radius);
}

.link__actions-button {
    border-radius: 3rem;
}

.link__actions-button:hover {
    border-color: var(--color-grey-2);
}

.link__meta-date {
    opacity: 1;

    background-color: #e5f2ed;
}

.group__separator {
    background: #00baa8;
}

.reading-nav__container {
    border: none;
    border-radius: var(--border-radius);
}

.reading-nav__anchor {
    background-color: #caf1e3;
    border-radius: 0;
}

.reading-nav__anchor:hover {
    background-color: #aeedd8;
}

.reading-nav__anchor[aria-current="page"] {
    background-color: #00d7ad;
}

.reading-nav__item .reading-nav__anchor:focus {
    outline-offset: -2px;
}

.anchor--action {
    border-radius: var(--border-radius);
}

button,
.button {
    color: currentcolor;

    background-color: rgb(0 0 0 / 5%);
    border: 1px solid currentcolor;
}

.button--primary,
.news__postpone-button {
    background-color: #00d7ad;
    border: none;
}

.button--primary:focus,
.news__postpone-button:focus {
    background-color: #00d7ad;
}

.button--primary:hover,
.news__postpone-button:hover {
    background-color: #00baa8;
}

.button--ghost {
    background-color: transparent;
    border-color: transparent;
}

.groupnav__item {
    border-color: #c5cfcc;
}

.groupnav__anchor:hover {
    color: currentcolor;

    background-color: #e9f0ee;
}

.sticker {
    color: #006f54;

    background-color: #caf1e3;
    border-radius: var(--border-radius);
}

.news__source-group {
    margin-left: 0;

    border: none;
    border-radius: var(--border-radius);
}

.pagination__container {
    background-color: #f7f6f4;
}

.message__content blockquote {
    position: relative;

    padding: var(--space-medium) var(--space-large) var(--space-medium) var(--space-medium);

    color: #004635;

    background: #e5f2ed;
    border-left: 10px solid #00d7ad;
    border-radius: 10px;
}

.message__content blockquote::before {
    content: "";

    position: absolute;
    top: var(--space-smaller);
    right: var(--space-smaller);

    display: block;
    width: 40px;
    height: 40px;

    background-color: #00d7ad;

    mask-image: url("../assets/block-quote-YYCDKVSM.svg");
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: cover;
}

.alert {
    border: none;
}

/** TODO à finir */
.alert--info {
    color: #061309;

    background-color: #e9f0ee;
    background-image: url("../assets/info-35TZKYE6.svg");
}

.alert--info .alert__title {
    color: currentcolor;
}

.section__title {
    font-family: Raleway, system-ui, sans-serif;
}

.section__title h1 {
    line-height: 1.1;
}

.section__title h1::after {
    max-width: 50%;
    height: 2px;
    margin-top: 0.2em;

    background: linear-gradient(to right, #fdfcff, #00d7ad, #fdfcff);
}

.spinner {
    background-color: #21e0b6;
}

select {
    background-color: #fff;
}

select:not([disabled]):hover,
select:not([disabled]):focus {
    background-color: #fff;
}
