/* raleway-regular - latin */
@font-face {
    font-family: Raleway;
    font-style: normal;
    font-weight: 400;
    font-display: swap;

    src: url("../../fonts/raleway-latin-regular.woff2") format("woff2");
}

/* raleway-italic - latin */
@font-face {
    font-family: Raleway;
    font-style: italic;
    font-weight: 400;
    font-display: swap;

    src: url("../../fonts/raleway-latin-italic.woff2") format("woff2");
}

/* raleway-600 - latin */
@font-face {
    font-family: Raleway;
    font-style: normal;
    font-weight: 600;
    font-display: swap;

    src: url("../../fonts/raleway-latin-600.woff2") format("woff2");
}

/* raleway-600italic - latin */
@font-face {
    font-family: Raleway;
    font-style: italic;
    font-weight: 600;
    font-display: swap;

    src: url("../../fonts/raleway-latin-600italic.woff2") format("woff2");
}

/* raleway-700 - latin */
@font-face {
    font-family: Raleway;
    font-style: normal;
    font-weight: 700;
    font-display: swap;

    src: url("../../fonts/raleway-latin-700.woff2") format("woff2");
}

/* raleway-700italic - latin */
@font-face {
    font-family: Raleway;
    font-style: italic;
    font-weight: 700;
    font-display: swap;

    src: url("../../fonts/raleway-latin-700italic.woff2") format("woff2");
}
