.text--oneline {
    display: flex;

    align-items: baseline;

    white-space: nowrap;
}

.text--extend {
    flex: 1;
}

.text--ellipsis {
    overflow: hidden;

    display: inline-block;

    text-overflow: ellipsis;
}

.text--break {
    overflow-wrap: break-word;
}
