#####################################
# Application environment variables #
#####################################

# This MUST be set to production when you deploy
APP_ENVIRONMENT=development

# You can generate a key with `php cli system secret`
APP_SECRET_KEY=change-me

# Must be set to an email that you manage (used to create default user and to
# send email to the support)
APP_SUPPORT_EMAIL=example@flus.io

# Must be the (sub)domain which will serve flusio
APP_HOST=localhost

# Can be deleted/commented in production, it’ll default to 443. Remember that
# production MUST be served over HTTPS.
APP_PORT=8000

# The next line can be uncommented and be set if you plan to serve flusio on a
# subpath.
# APP_PATH=/

# You can uncomment and change the path for the data. Default is the data
# directory presents in the current directory.
# APP_DATA_PATH=/path/to/data

# You can uncomment and change the path for the cache. Default is the cache
# directory presents in the current directory.
# APP_CACHE_PATH=/path/to/cache

# You can uncomment and change the path for the media files. Default is the
# media directory presents in the public/ directory. If you change this value,
# make sure the /media URL path is correctly served by your Web server.
# APP_MEDIA_PATH=/path/to/media

##################################
# Database environment variables #
##################################

# It should probably be "localhost" if you host the DB on the same server
DB_HOST=database

# You can uncomment the following and set the value to the database name that
# you want. Default value is flusio_production in production. This has no
# effect in development or test.
# DB_NAME=flusio_production

# Default port of PostgreSQL is 5432, adapt to your needs
# DB_PORT=5432

# Username of the DB user (who must have database creation permissions)
DB_USERNAME=postgres

# Password of the DB user
DB_PASSWORD=postgres

###############################
# SMTP environement variables #
###############################

# It can be set either to `smtp` (to send emails via a server) or `mail` (to
# use the built-in PHP command)
APP_MAILER=smtp

# It’s the email that will send the transactional emails to the users
SMTP_FROM=noreply@example.com

# /!\ /!\ /!\
# Note: the next lines can be commented if you’ve set `APP_MAILER` to `mail`

# The domain used in the `Message-ID` header (usually the domain part of `SMTP_FROM`)
SMTP_DOMAIN=example.com

# The email server hostname listening for SMTP
SMTP_HOST=smtp.example.com

# The email server port listening for SMTP, it’s often `465` (TLS) or `587` (STARTTLS)
SMTP_PORT=587

# The value is most probably `true` unless you know what you’re doing
SMTP_AUTH=true

# Valid values are 'CRAM-MD5', 'LOGIN', 'PLAIN', 'XOAUTH2' (and is often `LOGIN`)
SMTP_AUTH_TYPE=LOGIN

# The SMTP username for the `SMTP_FROM` address
SMTP_USERNAME=noreply

# The SMTP password for the `SMTP_FROM` address
SMTP_PASSWORD=secret

# It is either `ssl` or `tls`, depending on the port you chose earlier
SMTP_SECURE=tls

###############################
# Feeds environment variables #
###############################

# For how long the links in the feeds must be kept in database (in months, must
# be greater or equal to 1). Don't set to keep them indefinitely (equivalent to
# set the period to 0).
# FEEDS_LINKS_KEEP_PERIOD=6

##############################
# Jobs environment variables #
##############################

# The number of jobs to synchronize feeds. Increase when feeds take too long to
# synchronize. After changing this value, you must run the update CLI command
# (`php cli system setup`) Also, you should consider to increase the
# number of job workers dedicated to the `fetchers` queue (cf. "Setup the job
# worker" from the production documentation).
# JOB_FEEDS_SYNC_COUNT=1

# The number of jobs to synchronize links. Increase when links take too long to
# synchronize. After changing this value, you must run the update CLI command
# (`php cli system setup`) Also, you should consider to increase the
# number of job workers dedicated to the `fetchers` queue (cf. "Setup the job
# worker" from the production documentation).
# JOB_LINKS_SYNC_COUNT=1

###############################
# Misc environement variables #
###############################

# Set the brand name of your instance if you don't want to use the generic
# "flusio" term
# APP_BRAND=My brand

# Uncomment the next line to close registrations on your instance
# APP_OPEN_REGISTRATIONS=false

# This is used to force the locale when creating a user via the CLI or seeds
# for instance. Note that CLI commands are not localized.
# CLI_LOCALE=fr_FR

# Set to configure Pocket API in order to enable importations
# APP_POCKET_CONSUMER_KEY=

# Set so flusio can select different IPs to request Youtube servers (this
# allows to increase rate limit). IPs are separated by commas (,), for instance:
# 172.16.254.1,2001:db8:0:85a3::ac1f:8001
# Don't set if you have only one IP on your server.
# APP_SERVER_IPS=

# This shows a banner to warn users the data are reset each night and suggest
# demo account credentials
# APP_DEMO=true

# These two variables enable the subscriptions mechanism. It's very likely you
# will not have to set them since it's designed for the service at https://flus.fr
# only.
# APP_SUBSCRIPTIONS_HOST=https://some.host
# APP_SUBSCRIPTIONS_PRIVATE_KEY=some-secret-key
