APP_ENVIRONMENT=development
APP_SECRET_KEY=change-me
APP_HOST=localhost
APP_PORT=8000
APP_MAILER=smtp

DB_HOST=database
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=postgres

SMTP_FROM=noreply@example.com
SMTP_DOMAIN=example.com
SMTP_HOST=smtp.example.com
SMTP_PORT=587
SMTP_AUTH=true
SMTP_AUTH_TYPE=LOGIN
SMTP_USERNAME=noreply
SMTP_PASSWORD=secret
SMTP_SECURE=tls
