#####################################
# Application environment variables #
#####################################

# This MUST be set to production when you deploy
APP_ENVIRONMENT=development

# You can generate a key with `php cli --request /system/secret`
APP_SECRET_KEY=change-me

# Must be the (sub)domain which will serve flusio
APP_HOST=localhost

# Can be deleted/commented in production, it’ll default to 443. Remember that
# production MUST be served over HTTPS.
APP_PORT=8000

# The next line can be uncommented and be set if you plan to serve flusio on a
# subpath.
# APP_PATH=/

# You can uncomment and change the path for the cache. Default is the cache
# directory presents in the current directory.
# APP_CACHE_PATH=/tmp

##################################
# Database environment variables #
##################################

# It should probably be "localhost" if you host the DB on the same server
DB_HOST=database

# You can uncomment the following and set the value to the database name that
# you want. Default value is flusio_production in production. This has no
# effect in development or test.
# DB_NAME=flusio_production

# Default port of PostgreSQL is 5432, adapt to your needs
# DB_PORT=5432

# Username of the DB user (who must have database creation permissions)
DB_USERNAME=postgres

# Password of the DB user
DB_PASSWORD=postgres

###############################
# SMTP environement variables #
###############################

# It can be set either to `smtp` (to send emails via a server) or `mail` (to
# use the built-in PHP command)
APP_MAILER=smtp

# It’s the email that will send the transactional emails to the users
SMTP_FROM=noreply@example.com

# /!\ /!\ /!\
# Note: the next lines can be commented if you’ve set `APP_MAILER` to `mail`

# The domain used in the `Message-ID` header (usually the domain part of `SMTP_FROM`)
SMTP_DOMAIN=example.com

# The email server hostname listening for SMTP
SMTP_HOST=smtp.example.com

# The email server port listening for SMTP, it’s often `465` (TLS) or `587` (STARTTLS)
SMTP_PORT=587

# The value is most probably `true` unless you know what you’re doing
SMTP_AUTH=true

# Valid values are 'CRAM-MD5', 'LOGIN', 'PLAIN', 'XOAUTH2' (and is often `LOGIN`)
SMTP_AUTH_TYPE=LOGIN

# The SMTP username for the `SMTP_FROM` address
SMTP_USERNAME=noreply

# The SMTP password for the `SMTP_FROM` address
SMTP_PASSWORD=secret

# It is either `ssl` or `tls`, depending on the port you chose earlier
SMTP_SECURE=tls

###############################
# Misc environement variables #
###############################

# Set the brand name of your instance if you don't want to use the generic
# "flusio" term
# APP_BRAND=My brand

# Uncomment the next line to close registrations on your instance
# APP_OPEN_REGISTRATIONS=false

# This shows a banner to warn users the data are reset each night and suggest
# demo account credentials
# APP_DEMO=true
