{% extends 'layouts/modal.html.twig' %}

{% block title %}{{ t('New link') }}{% endblock %}

{% block body %}
    <div class="wrapper wrapper--small wrapper--center">
        {{ include('links/_form_simple.html.twig', {
            action: url('create read later'),
        }) }}
    </div>
{% endblock %}
