.layout__content--application {
    display: flex;
    max-width: 1400px;
    margin-right: auto;
    margin-left: auto;

    gap: var(--space-smaller);
}

@media(max-width: 799px) {
    .layout__content--application {
        flex-direction: column;
    }
}

@media(min-width: 800px) {
    .layout__content--application {
        gap: var(--space-medium);
    }
}
