.layout__banner {
    padding: var(--space-small);

    color: var(--color-pampas);
    font-weight: 600;
    text-align: center;

    background-color: var(--color-gable);
}

.layout__banner--alert {
    color: var(--color-white);

    background-color: var(--color-danger-solid);
}
