.layout__search {
    padding-top: var(--space-smaller);
    padding-bottom: var(--space-smaller);
}

@media (min-width: 800px) {
    .layout__search {
        max-width: var(--width-small);
        margin-right: auto;
        margin-left: auto;
    }
}

/* The field has a help button and a submit button. */
.layout__search .search-field {
    --search-field-buttons: 2;
}

.layout__search .search-field--with-error {
    --search-field-buttons: 3;
}
