<ul class="list--collections-others list list--no-style">
    {% for collection in collections %}
        {% set other_link = collection.linkNotOwnedByUrl(app.user.id, link.url_hash) %}
        {% set link_owner = other_link.owner %}
        {% set collection_owner = collection.owner %}
        {% if link_owner and collection_owner %}
            <li class="list__item" data-link-id="{{ other_link.id }}">
                <img class="avatar" src="{{ url_avatar(link_owner.avatar_filename) }}" alt="">

                {% if collection_owner.id === app.user.id %}
                    {{ t('<strong>%s</strong> added this link to <strong>%s</strong>.', [link_owner.username | escape, collection.name() | escape]) | raw }}
                {% else %}
                    {{ t('<strong>%s</strong> added this link to <strong>%s</strong> (shared by %s).', [link_owner.username | escape, collection.name() | escape, collection_owner.username | escape]) | raw }}
                {% endif %}
            </li>
        {% endif %}
    {% endfor %}
</ul>
