{% if message %}
    <div class="alert alert--error" role="alert" data-turbo-temporary>
        <div class="alert__title">{{ t('Error') }}</div>

        <p class="alert__message">
            {{ message }}
        </p>
    </div>
{% endif %}
