.alert {
    margin-top: var(--space-small);
    margin-bottom: var(--space-large);
    padding: var(--space-medium);
    padding-left: calc(4.7rem + 2 * var(--space-small));

    background-repeat: no-repeat;
    background-position: left var(--space-small) top var(--space-small);
    background-size: 5rem;
    border-width: var(--width-border-bold);
    border-style: solid;
    border-radius: var(--radius);
}

.alert--info {
    background-color: var(--color-back-info);
    background-image: url("../../icons/info-purple.svg");

    border-color: var(--color-border-info);
}

.alert--success {
    background-color: var(--color-back-success);
    background-image: url("../../icons/success-green.svg");

    border-color: var(--color-border-success);
}

.alert--error {
    background-color: var(--color-back-error);
    background-image: url("../../icons/error-red.svg");

    border-color: var(--color-border-error);
}

.alert__title {
    font-weight: bold;
}

.alert--info .alert__title {
    color: var(--color-text-info);
}

.alert--success .alert__title {
    color: var(--color-text-success);
}

.alert--error .alert__title {
    color: var(--color-text-error);
}

.alert__message {
    margin-top: 0;
    margin-bottom: 0;
}
