a {
    color: inherit;
    text-decoration: underline;
    text-decoration-thickness: 0.1em;

    transition:
        color 0.3s ease-in-out,
        border-color 0.3s ease-in-out;
}

a:hover,
a:focus {
    color: var(--color-link);
}

.anchor--discreet {
    text-decoration: none;
}

.anchor--hidden {
    text-decoration: none;
}

.anchor--hidden:hover,
.anchor--hidden:focus {
    color: initial;
}

.anchor--inverted {
    color: var(--color-white);
}

.anchor--inverted:hover,
.anchor--inverted:focus {
    color: var(--color-purple-2);
}

.anchor--action {
    display: inline-block;
    padding: var(--space-smaller) var(--space-medium);

    line-height: 1.5;
    text-decoration: none;

    border: 0.1em solid currentcolor;
    border-radius: var(--radius-button);
}

.anchor--action.icon {
    padding-left: 2.3em;
}
