.avatar {
    width: 5rem;

    vertical-align: middle;

    background-color: var(--color-pampas);
    border-radius: 50%;
}

.avatar--banner {
    display: block;
    width: 15rem;
    height: 15rem;
    margin-right: auto;
    margin-bottom: var(--space-medium);
    margin-left: auto;

    border-width: 4px;
}
