.avatar {
    width: 2.5rem;

    vertical-align: middle;

    background-color: var(--color-background);
    border-radius: var(--border-radius);
}

.avatar--mini {
    width: 1.3rem;
}

.avatar--max {
    width: 200px;
}
