.avatar {
    width: 2.5rem;

    vertical-align: middle;

    background-color: var(--color-background);
    border-radius: 50%;
}

.avatar--mini {
    width: 1.3rem;
}

.avatar--max {
    width: 8rem;
}
