.avatar {
    width: 2.5rem;

    vertical-align: middle;

    background-color: var(--color-background);
    border-radius: var(--border-radius);
    outline: 1px solid var(--color-box-shadow);
    outline-offset: -1px;
}

.avatar--mini {
    width: 1.3rem;
}

.avatar--max {
    width: 12rem;
}
