.button--card {
    --button-padding: var(--space-small) var(--space-medium);
    --button-color: var(--color-white);
    --button-background-color: var(--color-teal11);
    --button-border-color: transparent;
}

.button--card:hover:not(:disabled),
.button--card:focus:not(:disabled) {
    --button-background-color: var(--color-teal12);
}

@media (min-width: 800px) {
    .button--card {
        --button-padding: var(--space-larger) var(--space-medium);
    }
}

.button--edit-image {
    position: relative;

    padding: 0;

    border: none;
}

.button--edit-image::after {
    content: '';

    position: absolute;
    inset: 0;

    opacity: 0;
    background-color: rgb(255 255 255 / 25%);
    background-image: url("@flus/design/src/icons/pencil.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50%;
    border-radius: var(--border-radius);

    transition: opacity 0.4s ease-in-out;
}

.button--edit-image:hover::after,
.button--edit-image:focus::after {
    opacity: 1;
}
