button,
.button {
    display: inline-block;
    padding: var(--space-small) var(--space-medium);

    color: var(--color-text);
    font-family: inherit;
    font-size: var(--size-normal);
    line-height: 1.5;

    background-color: var(--color-grey-1);
    border: var(--width-border) solid var(--color-grey-3);
    border-radius: var(--radius-button);

    transition:
        background-color 0.2s ease-in-out,
        border-color 0.2s ease-in-out;

    cursor: pointer;
}

button:hover,
button:focus,
.button:hover,
.button:focus {
    background-color: var(--color-white);
}

button:focus,
button:active,
.button:focus,
.button:active {
    border-color: var(--color-border-active);
}

button[disabled],
.button[disabled] {
    color: var(--color-text-disabled);

    background-color: var(--color-grey-1);
    border-color: var(--color-border-disabled);
}

.button--primary {
    background-color: var(--color-turquoise-3);
    border-color: currentcolor;
}

.button--primary:hover,
.button--primary:focus {
    background-color: var(--color-turquoise-1);
}

.button--primary[disabled] {
    color: var(--color-text-disabled);

    background-color: var(--color-turquoise-1);
}

.button--ghost {
    background-color: transparent;
    border-color: transparent;
}

.button--ghost:hover {
    background-color: transparent;
    border-color: var(--color-grey-2);
}

.button--ghost:focus {
    background-color: transparent;
    border-color: var(--color-border-active);
}

.button--ghost[disabled] {
    color: var(--color-text-disabled);

    background-color: transparent;
    border-color: var(--color-border-disabled);
}

.button--danger {
    background-color: var(--color-red-1);
    border-color: var(--color-red-5);
}

.button--danger:hover,
.button--danger:focus {
    background-color: var(--color-red-2);
}

.button--danger[disabled] {
    background-color: var(--color-red-1);
    border-color: var(--color-red-2);
}

.button--large {
    padding-right: var(--space-large);
    padding-left: var(--space-large);

    font-size: var(--size-large);
}

.button--small {
    padding: var(--space-smaller) var(--space-medium);
}

.button--smaller {
    padding: var(--space-smaller);

    line-height: 1.3;
}

.button--icon {
    padding: var(--space-small);

    border-radius: 100%;

    aspect-ratio: 1;
}
