.cards {
    display: flex;
    padding: var(--space-smaller);

    flex-wrap: wrap;
}

.cards--in-column {
    flex-direction: column;
}

.cards--centered {
    justify-content: center;
}

.card {
    position: relative;

    display: flex;
    width: 100%;
    max-width: 100%;
    margin-bottom: var(--space-medium);

    flex-direction: column;
    flex-grow: 1;

    box-shadow: 0 1px 4px 1px var(--color-grey-2);

    transition:
        background-color 0.5s ease-in-out,
        box-shadow 0.5s ease-in-out;
}

.card:focus-within {
    box-shadow: 0 1px 4px 1px var(--color-purple-2);
}

@media (min-width: 800px) {
    .card {
        margin-right: 1%;
        margin-left: 1%;
    }

    .card:not(.card--fluid) {
        max-width: 31%;
    }
}

.card--shadow {
    background-color: var(--color-grey-1);
    box-shadow: none;
}

.card--shadow:focus-within {
    box-shadow: none;
}

.card--showcase {
    padding: var(--space-small);

    align-items: center;
    justify-content: center;

    text-align: center;

    box-shadow: none;
}

.card--action {
    padding: 3px;

    align-items: stretch;
    justify-content: center;

    background: linear-gradient(135deg, var(--color-purple-5), var(--color-turquoise-5));
}

@media (min-width: 800px) {
    .card--action:nth-child(2) {
        background: linear-gradient(180deg, #3d97c7, var(--color-turquoise-5));
    }

    .card--action:nth-child(3) {
        background: linear-gradient(225deg, var(--color-purple-5), var(--color-turquoise-5));
    }
}

.card--illustrated {
    min-height: 150px;

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.card--illustrated-alt {
    background-color: var(--color-purple-5);
    border: 4px solid transparent;
}

.card--illustrated-alt:hover,
.card--illustrated-alt:focus-within {
    background-color: var(--color-turquoise-5);
}

.card__button {
    min-height: 150px;
    padding: var(--space-medium) var(--space-small);

    flex: 1;

    background-color: var(--color-purple-1);
    border: none;
    border-radius: 0;
}

@media (min-width: 800px) {
    .card__button--link {
        min-height: 300px;
    }
}

.card__image {
    display: block;
    width: 100%;
    min-height: 156px;
}

.card__image-overlay {
    position: absolute;
    top: var(--space-smaller);
    left: var(--space-smaller);

    padding: 0 var(--space-small);

    font-size: var(--size-small);
    font-style: italic;
    text-align: left;

    opacity: 0.8;
    background-color: var(--color-purple-1);
    border: none;
    border-radius: var(--radius);
}

.card__image-overlay--warning {
    color: var(--color-text-warning);

    opacity: 1;
    background-color: var(--color-back-warning);
}

.card__image-overlay--warning:hover,
.card__image-overlay--warning:focus {
    background-color: var(--color-back-warning);
}

.card__image-overlay--right {
    right: var(--space-smaller);
    left: auto;
}

.card__body {
    padding: var(--space-small);

    flex-grow: 1;
}

.card--illustrated .card__body {
    padding-top: calc(70px + var(--space-small));

    color: var(--color-white);
    text-decoration: none;
    text-shadow:
        -1px 1px 1px var(--color-purple-8),
        1px 1px 1px var(--color-purple-8),
        1px -1px 0 var(--color-purple-8),
        -1px -1px 0 var(--color-purple-8);

    background-color: rgba(0, 0, 0, 0.3);
    background-image:
        linear-gradient(
            to bottom,
            transparent 30px,
            rgba(0, 0, 0, 0.4) 70px,
            rgba(0, 0, 0, 0.6) 90px,
            rgba(0, 0, 0, 0.8)
        );

    transition: background-color 0.3s ease-in-out;
}

.card--illustrated-alt .card__body {
    background-image: none;
}

.card--illustrated .card__body--large {
    padding-top: calc(156px + var(--space-small));

    background-image:
        linear-gradient(
            to bottom,
            transparent 110px,
            rgba(0, 0, 0, 0.4) 150px,
            rgba(0, 0, 0, 0.6) 170px,
            rgba(0, 0, 0, 0.8)
        );
}

.card--illustrated .card__body:hover,
.card--illustrated .card__body:focus {
    color: var(--color-white);

    background-color: transparent;
}

.card--illustrated-alt .card__body:hover,
.card--illustrated-alt .card__body:focus {
    background-color: rgba(0, 0, 0, 0.3);
}

.card--illustrated .card__body:focus-visible {
    outline: 3px solid var(--color-purple-5);
}

.card--illustrated .sticker {
    text-shadow: none;
}

.card__title {
    overflow: hidden;

    margin-top: 0;
    margin-bottom: var(--space-medium);

    font-size: var(--size-normal);
    font-weight: bold;
    line-height: 1.3;
    text-overflow: ellipsis;
}

.card__title a {
    display: block;
}

.card__text {
    margin-top: var(--space-small);
    margin-bottom: var(--space-small);

    color: var(--color-text-secondary);
    font-size: var(--size-small);
    overflow-wrap: anywhere;
}

.card--illustrated .card__text {
    color: var(--color-white);

    opacity: 0.8;
}

.card__text--oneline {
    display: flex;

    align-items: baseline;

    white-space: nowrap;
}

.card__text--extend {
    flex: 1;
}

.card__ellipsis {
    overflow: hidden;

    text-overflow: ellipsis;
}

.card__footer {
    display: flex;
    padding: var(--space-small);

    align-items: center;
    justify-content: space-between;

    background-color: var(--color-purple-1);
    background-image: linear-gradient(to right, var(--color-purple-2), var(--color-purple-3), var(--color-purple-2));
    background-repeat: repeat-x;
    background-position: 0 100%;
    background-size: 100% 3px;
    box-shadow: 0 -1px 2px 0 var(--color-purple-1);
}

.card--illustrated .card__footer {
    color: var(--color-white);

    background-color: rgba(0, 0, 0, 0.9);
    background-image: none;
    box-shadow: none;
}

.card__footer--centered {
    justify-content: center;
}

.card__footer-group {
    display: flex;

    align-items: center;
}

.card__footer-group > * + * {
    margin-left: var(--space-small);
}
