.collections-selector__data {
    display: none;
}

.collections-selector__list {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;

    list-style: none;
}

.collections-selector__item {
    display: flex;
    margin-bottom: var(--space-small);
    padding: var(--space-smaller) var(--space-small);

    align-items: center;

    background-color: var(--color-grey-1);
    border: var(--border-width) solid var(--color-grey-2);
    border-radius: var(--border-radius);
}

.collections-selector__item-label {
    flex-grow: 1;
}

.collections-selector__unselect .icon {
    pointer-events: none;
}
