.filters {
    background-color: var(--color-background);
    border: 1px solid var(--color-grey-line);
    border-radius: var(--border-radius);
}

.filters__section {
    padding: var(--space-medium);
}

.filters__section + .filters__section {
    border-top: 1px solid var(--color-grey-line);
}

.filters__option {
    position: relative;
}

.filters__option--light button {
    --button-background-color: var(--color-base);
    --button-border-color: var(--color-grey-border);
}

.filters__option button[aria-pressed="true"] {
    --button-color: var(--color-accent-text-contrast);
    --button-background-color: var(--color-accent-bg-active);
    --button-border-color: var(--color-accent-border);
}

.filters__option--light button[aria-pressed="true"] {
    --button-background-color: var(--color-accent-bg-subtle);
}

.filters__option-image {
    width: 2rem;
    max-width: none;

    background-color: var(--color-base);
    border-radius: var(--border-radius);
}

.filters__option-label {
    overflow: hidden;

    max-width: 15rem;

    text-overflow: ellipsis;
    white-space: nowrap;
}

.filters__option-count {
    color: var(--color-grey-text);
}

.filters__option-unselect {
    display: none;
}

[aria-pressed="true"] .filters__option-unselect {
    position: absolute;
    z-index: 1;
    top: calc(-1 * var(--space-small));
    right: calc(-1 * var(--space-small));

    display: block;
    padding: 1px;

    font-size: var(--font-size-smaller);

    background-color: var(--color-accent-base);
    border: 1px solid var(--color-accent-border);
    border-radius: 100%;
}
