.form--centered {
    text-align: center;
}

.form--danger {
    margin-top: var(--space-larger);
    padding: var(--space-medium);

    text-align: right;

    background-color: var(--color-red-1);
}

label {
    display: block;
    margin-bottom: var(--space-small);
    padding-right: var(--space-small);
    padding-left: var(--space-small);
}

.label--checkbox,
.label--radio {
    margin-bottom: 0;
}

.label__help {
    color: var(--color-text-secondary);
    font-size: var(--size-small);
}

input,
textarea {
    width: 100%;
    padding: var(--space-small);

    color: inherit;
    font-family: inherit;
    font-size: var(--size-normal);
    line-height: 1.5;

    background-color: var(--color-white);
    box-shadow: 2px 2px 4px var(--color-grey-2) inset;
    border: var(--width-border) solid var(--color-border);
    border-radius: var(--radius);

    transition: border-color 0.2s ease-in-out;
}

textarea {
    max-width: 100%;
    min-height: 15rem;
}

.input--number-3 {
    width: 8rem;
}

/**
 * Custom checkboxes to improve contrast and size
 *
 * @see https://www.a11ywithlindsey.com/blog/create-custom-keyboard-accesible-checkboxes
 */
input[type="checkbox"],
input[type="radio"] {
    position: absolute;

    overflow: hidden;
    clip: rect(0, 0, 0, 0);

    width: 1px;
    height: 1px;
}

input[type="checkbox"] + label,
input[type="radio"] + label {
    position: relative;

    display: inline-flex;

    align-items: center;
}

input[type="checkbox"] + label::before,
input[type="radio"] + label::before {
    content: ' ';

    position: relative;

    width: 2.5rem;
    height: 2.5rem;
    margin-right: var(--space-small);

    flex-shrink: 0;

    background-color: var(--color-white);
    border: var(--width-border) solid var(--color-border);
    border-radius: 0.5rem;

    transition:
        border-color 0.2s ease-in-out,
        background-color 0.2s ease-in-out;
}

input[type="radio"] + label::before {
    border-radius: 50%;
}

input[type="checkbox"]:hover + label::before,
input[type="checkbox"]:focus + label::before,
input[type="radio"]:hover + label::before,
input[type="radio"]:focus + label::before {
    background-color: var(--color-turquoise-1);
    border-color: var(--color-turquoise-6);
}

input[type="checkbox"]:focus + label::before {
    box-shadow: 0 0 0 1px var(--color-purple-5);
}

input[type="checkbox"]:checked + label::before,
input[type="radio"]:checked + label::before {
    background-color: var(--color-turquoise-3);
    border-color: var(--color-turquoise-8);
}

input[type="checkbox"]:checked + label::after,
input[type="radio"]:checked + label::after {
    content: '';

    position: absolute;
    left: 1.5rem;

    width: 1.5rem;
    height: 0.75rem;
    margin-top: -0.3rem;

    border-bottom: var(--width-border) solid var(--color-text);
    border-left: var(--width-border) solid var(--color-text);

    transform: rotate(-45deg);
}

input[type="radio"]:checked + label::after {
    height: 1.5rem;
    margin-top: 0;

    background-color: var(--color-text);
    border-top: var(--width-border) solid var(--color-text);
    border-right: var(--width-border) solid var(--color-text);
    border-radius: 50%;
}

.form-group--invalid input,
.form-group--invalid textarea {
    border-color: var(--color-border-error);
}

input:focus,
textarea:focus {
    border-color: var(--color-border-active);
}

select {
    width: 100%;
    padding: var(--space-small);

    color: inherit;
    font-family: inherit;
    font-size: var(--size-normal);
    text-overflow: ellipsis;

    background-color: var(--color-grey-1);
    border: var(--width-border) solid var(--color-border);
    border-radius: var(--radius);

    transition:
        background-color 0.2s ease-in-out,
        border-color 0.2s ease-in-out;
}

@media (min-width: 800px) {
    select {
        width: auto;
        min-width: 50%;
    }
}

select:not([multiple]) {
    padding-right: 3.5rem;

    background-image: url("../../icons/angle-down.svg");
    background-repeat: no-repeat;
    background-position: right 0.75rem top 58%;
    background-size: 2.5rem;

    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
}

select:hover,
select:focus {
    background-color: var(--color-turquoise-1);
}

select:focus {
    border-color: var(--color-border-active);
}

fieldset {
    margin-top: var(--space-medium);
    margin-bottom: var(--space-medium);
    padding: var(--space-small);

    background-image: linear-gradient(to bottom, var(--color-grey-1), var(--color-purple-1));
    box-shadow: 1px 1px 1px var(--color-purple-2);
    border: none;
    border-radius: var(--radius);
}

@media (min-width: 1100px) {
    fieldset {
        padding: var(--space-medium);
    }
}

legend {
    padding: var(--space-smaller) var(--space-small);

    background-color: var(--color-grey-1);
    border-radius: var(--radius);
}

.fieldset__caption {
    padding-right: 0.5em;
    padding-left: 0.5em;

    color: var(--color-text-secondary);
    font-size: var(--size-small);
}

.form-group {
    margin-bottom: var(--space-medium);
}

.form-group__stack {
    display: flex;

    align-items: center;
}

.form-group__stack > * + * {
    margin-left: var(--space-smaller);
}

.form-group__stack > button {
    flex-shrink: 0;
}

.form-group__caption {
    margin-top: var(--space-smaller);
    margin-bottom: var(--space-smaller);
    padding-right: var(--space-small);
    padding-left: var(--space-small);

    color: var(--color-text-secondary);
    font-size: var(--size-small);
}

.form-group__caption--alt {
    margin-top: 0;
    padding-left: calc(2 * var(--space-small) + 2.5rem);
}

.form-group__caption--alt::before {
    content: '➜';
}

.form-group__error {
    margin-top: var(--space-small);
    margin-bottom: var(--space-small);
    padding-right: var(--space-small);
    padding-left: calc(var(--space-small) + 1.75em);

    color: var(--color-text-error);
    font-size: var(--size-small);
    font-weight: bold;

    background-image: url("../../icons/error-red.svg");
    background-repeat: no-repeat;
    background-position: left var(--space-small) top;
    background-size: 1.5em;
}

.form__actions {
    display: flex;
    margin-bottom: var(--space-medium);

    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form__actions > * + * {
    margin-top: var(--space-medium);
}

@media (min-width: 800px) {
    .form__actions {
        flex-direction: row-reverse;
    }

    .form__actions > * + * {
        margin-top: 0;
    }
}

.form-group--terms {
    padding: var(--space-medium);

    background-color: var(--color-purple-1);
    border-radius: var(--radius);
}

.form-group--terms .form-group__caption {
    margin-top: 0;
}
