.group + .group {
    margin-top: var(--space-larger);
}

.group__header {
    position: sticky;
    z-index: 1;
    top: 0;

    display: flex;
    padding-right: var(--space-small);
    padding-left: var(--space-small);

    align-items: center;

    background-color: var(--color-white);
    box-shadow: 0 2px 2px var(--color-white);
}

.group__header .group__icon {
    margin-right: var(--space-smaller);
}

.group__header .group__icon,
.group__header button {
    flex-shrink: 0;
}

.group__title {
    overflow: hidden;

    margin-top: var(--space-medium);
    margin-bottom: var(--space-medium);

    font-family: var(--font-family-title);
    text-overflow: ellipsis;
}

.group__subtitle {
    margin-top: 0;
    margin-bottom: 0;
    padding-right: var(--space-small);
    padding-left: var(--space-small);

    font-size: var(--size-small);
}

@media (min-width: 800px) {
    .group__subtitle {
        padding-right: var(--space-medium);
        padding-left: var(--space-medium);
    }
}

.group__separator {
    height: 0.3rem;
    margin-right: var(--space-medium);
    margin-left: var(--space-medium);

    flex: 1;

    background: linear-gradient(to right, var(--color-turquoise-5), var(--color-purple-5), var(--color-turquoise-5));
    border: none;
    border-radius: 2em;
}

.group-selector__group-input {
    display: none;
}

.group-selector__group-select select {
    flex-grow: 1;
}
