.header__container {
    display: flex;
    max-width: var(--width-content);
    height: 100%;
    margin-right: auto;
    margin-left: auto;

    align-items: stretch;
}

.header__container--centered {
    align-items: center;
}

.header__container > * + * {
    margin-left: var(--space-smaller);
}

@media (min-width: 800px) {
    .header__container > * + * {
        margin-left: var(--space-small);
    }
}

.header__separator {
    flex: 1;
}

.header__avatar-container {
    align-self: center;
}

.header__avatar {
    display: block;
    height: 5rem;

    background-color: var(--color-white);
    border: 2px solid var(--color-turquoise-5);
    border-radius: 50%;

    transition: filter 0.3s ease-in-out;

    cursor: pointer;
}

.header__link {
    padding: var(--space-medium) var(--space-large);
}

.header__action {
    margin: var(--space-smaller);
    padding: var(--space-small);

    align-self: center;

    font-size: var(--size-small);
    text-align: center;
    text-decoration: none;

    background-color: var(--color-turquoise-4);
    border: var(--width-border) solid currentColor;
    border-radius: var(--radius-button);
}

@media (min-width: 800px) {
    .header__action {
        width: auto;
        padding-top: var(--space-smaller);
        padding-bottom: var(--space-smaller);
    }
}

.header__secondary {
    order: -1;
}

@media (min-width: 800px) {
    .header__secondary {
        order: 0;
    }
}

.header__link--home {
    display: flex;
    padding: var(--space-smaller);

    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header__locale-form {
    display: flex;
    padding-top: var(--space-smaller);
    padding-bottom: var(--space-smaller);

    flex-direction: column;
    justify-content: center;
}

.header__locale-form label {
    display: inline;
}

.header__locale-form .icon {
    vertical-align: middle;
}

.header__locale-form .form-group {
    margin-top: 0;
    margin-bottom: 0;
}

.header__locale-form select {
    width: auto;
}
