.illustration {
    display: block;
    max-width: 100%;
    margin: var(--space-larger) var(--space-large);
}

.illustration--figure {
    margin: 0;
}

.illustration--centered {
    margin-right: auto;
    margin-left: auto;
}

figure {
    margin: 0;
    padding: var(--space-medium);

    color: var(--color-text-secondary);
    font-style: italic;
}

.figure--centered {
    text-align: center;
}

.figure--centered img {
    margin-right: auto;
    margin-left: auto;
}

.screenshot {
    position: relative;

    margin-top: var(--space-large);
    margin-bottom: var(--space-large);
    padding: 0.5rem;

    background: linear-gradient(135deg, var(--color-purple-5) 25%, var(--color-turquoise-5) 100%);
    box-shadow: 1px 1px 4px 2px var(--color-grey-2);
    border-radius: 0.75em;
}

.screenshot::before {
    content: '';

    position: absolute;
    top: 0;
    left: 0;

    width: 1.5em;
    height: 1.5em;
    padding: calc(var(--space-medium) * 1.5);

    background-color: var(--color-purple-5);
    background-image: url("../../icons/camera-white.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1.5em;
    border-radius: 0.75em 0 0.75em 0;
}

.screenshot__image {
    margin: 0;

    border-radius: 0.75em;
}
