.links {
    display: flex;
    margin-right: calc(-1 * var(--space-medium));
    margin-left: calc(-1 * var(--space-medium));

    flex: 1;
    flex-wrap: wrap;
}

.link {
    display: flex;
    max-width: 50%;
    margin: var(--space-medium);

    flex-basis: 25%;
    flex-direction: column;
    flex-grow: 1;

    box-shadow: 0 1px 4px 1px var(--color-grey-2);
}

.link__body {
    padding: var(--space-small);

    flex-grow: 1;
}

.link__title {
    margin-top: 0;
    margin-bottom: 0;

    font-size: var(--size-normal);
}

.link__footer {
    display: flex;
    padding: var(--space-small);

    align-items: center;
    justify-content: space-between;
}
