.link {
    position: relative;

    display: flex;

    flex-direction: column;

    background-color: var(--color-base);
    box-shadow: 0 0 2px var(--color-box-shadow);
    border: 1px solid var(--color-grey-bg);
    border-radius: var(--border-radius);

    transition: box-shadow 0.5s ease-in-out;
}

[data-color-scheme="dark"] .link {
    border-color: var(--color-grey-base);
}

.link:focus-within {
    box-shadow: 0 1px 2px 1px var(--color-box-shadow);
}

.link__meta {
    padding: var(--space-smaller);

    pointer-events: none;
}

@media (min-width: 800px) {
    .link:not(.link--compact) .link__meta {
        position: absolute;
        right: 0;
        left: 0;
    }
}

.link__meta .badge {
    text-align: left;
    white-space: nowrap;

    pointer-events: initial;
}

.link__body {
    display: flex;
    padding: var(--space-smaller);

    flex: 1;
}

.link__meta + .link__body {
    margin-top: calc(-1 * var(--space-smaller));
}

@media (min-width: 800px) {
    .link:not(.link--compact) .link__body {
        padding: 0;

        flex-direction: column;
    }

    .link:not(.link--compact) .link__meta + .link__body {
        margin-top: 0;
    }
}

.link__image-container {
    overflow: hidden;

    width: 75px;
    height: 75px;

    flex-shrink: 0;

    border-radius: var(--border-radius);
}

.link__image {
    width: 100%;
    height: 100%;

    border-radius: var(--border-radius);

    object-fit: cover;
}

@media (min-width: 800px) {
    .link:not(.link--compact) .link__image-container {
        width: 100%;
        height: 156px;

        border-radius: var(--border-radius) var(--border-radius) 0 0;
    }

    .link:not(.link--compact) .link__image {
        border-radius: 0;
    }
}

.link__content {
    min-width: 0;
    margin-left: var(--space-small);
}

@media (min-width: 800px) {
    .link:not(.link--compact) .link__content {
        margin-left: 0;
        padding: var(--space-small);
    }
}

.link__title {
    margin-top: 0;
    margin-bottom: var(--space-medium);

    font-size: var(--font-size-normal);
    font-weight: bold;
    line-height: 1.25;
}

.link__title a {
    overflow: hidden;

    display: block;

    color: currentcolor;
    text-decoration: none;
    text-overflow: ellipsis;
}

@media (min-width: 800px) {
    .link:not(.link--compact) .link__title {
        font-size: 1.15em;
    }
}

.link__text {
    color: var(--color-grey-text);
    font-size: var(--font-size-small);
    overflow-wrap: anywhere;
}

@media (min-width: 800px) {
    .link--compact .link__text {
        font-size: var(--font-size-smaller);
    }
}

.link__source {
    font-style: italic;
}

.link__source a {
    color: currentcolor;
    text-decoration: none;
}

.link__notepad {
    font-weight: 600;
}

.link__actions {
    display: flex;
    padding: var(--space-smaller);

    align-items: center;
    justify-content: space-between;

    background-color: var(--color-pampas);
    border-radius: 0 0 var(--border-radius) var(--border-radius);
}

[data-color-scheme="dark"] .link__actions {
    background-color: var(--color-grey-base);
}

@media (min-width: 800px) {
    .link:not(.link--compact) .link__actions {
        padding: var(--space-small);
    }
}

.link__actions-group {
    display: flex;

    align-items: center;
}

.link__actions-group > * + * {
    margin-left: var(--space-small);
}

.link__collections-button {
    position: relative;
}

.link__number-collections {
    position: absolute;
    right: 0.2em;
    bottom: 0.2em;

    display: inline-block;
    padding: 0.1em 0.3em;

    font-size: var(--font-size-smaller);
    line-height: 1;
    text-align: center;

    background-color: var(--color-accent-bg);
    border-radius: 50%;
}
