.news__via {
    margin-top: calc(var(--space-small) * -1);

    font-style: italic;
}

.news__postpone {
    margin-top: var(--space-large);
    margin-bottom: var(--space-large);
    padding: var(--space-medium);

    text-align: center;

    background: radial-gradient(circle at top, var(--color-purple-1) 80%, var(--color-purple-2));
    box-shadow: 0 1px 4px 1px var(--color-purple-2);
    border-radius: var(--border-radius);
}

.news__postpone-popup .popup__container {
    font-size: var(--size-normal);
}

@media (min-width: 800px) {
    .news__postpone-popup .popup__container {
        width: 34rem;
    }
}

.news__postpone-button {
    font-size: 1.1em;

    border-color: var(--color-purple-3);
}
