.news-selection__title {
    display: block;
    margin-top: var(--space-small);
    margin-bottom: var(--space-small);
}

.news__via {
    margin-top: calc(var(--space-small) * -1);

    font-style: italic;
}

.news__postpone {
    margin-top: var(--space-large);
    padding: var(--space-medium);

    text-align: center;
}

@media (min-width: 800px) {
    .news__postpone {
        margin-bottom: calc(var(--space-larger) * 2);
    }
}

.news__postpone-popup .popup__container {
    font-size: var(--size-normal);
}

@media (min-width: 800px) {
    .news__postpone-popup .popup__container {
        width: 34rem;
    }
}

.news__postpone-button {
    font-size: 1.2em;

    background-color: var(--color-purple-1);
    border-color: var(--color-purple-4);
}
