.pagination__container {
    display: flex;
    padding: var(--space-smaller);

    justify-content: center;

    background-color: var(--color-purple-1);
    border-radius: var(--radius);

    list-style: none;
}

.pagination__item {
    margin-right: var(--space-smaller);
    margin-left: var(--space-smaller);
}

.pagination__item--disabled {
    visibility: hidden;
}

@media (max-width: 359px) {
    .pagination__item--prev,
    .pagination__item--next {
        display: none;
    }
}

.pagination__link {
    display: inline-block;
    padding: var(--space-smaller) var(--space-small);

    text-decoration: none;

    border-bottom: var(--width-border) solid transparent;
}

.pagination__item--current .pagination__link {
    font-weight: bold;

    border-bottom-color: currentcolor;
}

.pagination__item--prev .pagination__link {
    text-align: right;
}
