.paragraph--featured {
    max-width: 50ch;
    margin-right: auto;
    margin-left: auto;

    font-size: var(--size-large);
    font-weight: 600;
    text-align: center;
}

.paragraph--contrasted {
    padding: var(--space-medium);

    color: var(--color-rangoon);

    background-color: var(--color-caribbean);
    border-radius: var(--radius);
}

.paragraph--centered {
    max-width: 50ch;
    margin-right: auto;
    margin-left: auto;

    text-align: center;
}

.text--centered {
    text-align: center;
}

.paragraph--secondary,
.text--secondary {
    color: var(--color-text-secondary);
}

.paragraph--placeholder {
    max-width: 50ch;
    margin: var(--space-large) auto;

    color: var(--color-text-secondary);
    font-style: italic;
    text-align: center;
}
