.popup {
    position: relative;

    display: inline-block;

    text-align: left;
}

.popup__opener {
    list-style: none;
}

.popup__opener::-webkit-details-marker {
    display: none;
}

.popup__opener:focus {
    outline: 0;
}

.popup__opener:focus > * {
    outline: var(--width-border-bold) solid var(--color-purple-4);
}

.popup__opener:focus > .button,
.popup__opener:active > .button {
    border-color: var(--color-border-active);
}

.popup__container {
    position: fixed;
    z-index: 10;
    right: 0;
    bottom: var(--height-header);
    left: 0;

    padding: var(--space-medium) var(--space-small);

    background: linear-gradient(135deg, var(--color-turquoise-2) 0%, var(--color-turquoise-3) 100%);
}

@media (min-width: 800px) {
    .popup__container {
        position: absolute;
        bottom: auto;

        min-width: 27rem;

        font-size: var(--size-small);

        box-shadow: 0 0 2px 0 var(--color-turquoise-6);
        border-radius: var(--radius);
    }

    .popup__container--large {
        min-width: 31rem;
    }

    .popup__container--bottom {
        left: 50%;

        margin-top: 0.5rem;
        margin-right: auto;
        margin-left: auto;

        transform: translateX(-50%);
    }

    .popup__container--left {
        right: 0;
        left: auto;

        margin-top: 0.5rem;
    }

    .popup__container--over {
        margin-top: -6.5rem;
        margin-left: -1rem;
    }
}

.popup__title {
    margin-bottom: var(--space-smaller);
    padding-right: var(--space-small);
    padding-left: var(--space-small);

    font-weight: bold;
    overflow-wrap: anywhere;
}

.popup__separator {
    height: var(--height-separator);
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;

    background-color: var(--color-turquoise-4);
    border-radius: var(--radius);
}

.popup__item--link {
    text-decoration: none;
}

.popup__item--link:hover,
.popup__item--link:focus {
    color: initial;

    outline: 0;
}

.popup__item--button {
    width: 100%;

    text-align: left;

    background-color: transparent;
    border: none;

    transition: none;
}

.popup__item--button:focus {
    outline: 0;
}

.popup__item {
    display: block;
    padding: var(--space-small);

    border: var(--width-border) solid transparent;
    border-radius: var(--radius);

    transition:
        background-color 0.1s ease-in-out,
        border-color 0.1s ease-in-out;
}

@media (min-width: 800px) {
    .popup__item {
        white-space: nowrap;
    }
}

.popup__item:hover,
.popup__item:focus {
    background-color: var(--color-turquoise-2);
    border-color: var(--color-turquoise-5);
}
