.sources {
    position: relative;
}

.sources__selector {
    position: relative;
}

.sources__selector-header {
    position: sticky;
    top: 0;

    padding-top: var(--space-smaller);
    padding-bottom: var(--space-smaller);

    background-color: var(--color-background);
}

.sources__submit {
    position: sticky;
    right: 0;
    bottom: calc(var(--layout-header-height) + var(--space-smaller));
    left: 0;

    max-width: var(--width-large);
    margin-right: auto;
    margin-left: auto;
    padding: var(--space-medium);

    text-align: right;

    background-color: var(--color-accent-bg-subtle);
    border-radius: var(--border-radius);
}

@media (min-width: 800px) {
    .sources__submit {
        bottom: var(--space-smaller);
    }
}

.source {
    padding: var(--space-medium);

    background-color: var(--color-base);
    border: 1px solid var(--color-grey-line);
    border-radius: var(--border-radius);
}

.source--button {
    max-width: 300px;
    padding: var(--space-small);

    text-decoration: none;
}

.source--button[aria-current="page"] {
    background-color: var(--color-accent-base);
    border-color: var(--color-accent-line);
}

.source__image {
    width: 64px;
    max-width: none;

    background-color: var(--color-base);
    border-radius: var(--border-radius);
}

.source__name {
    overflow: hidden;

    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;

    color: var(--color-text);
    font-weight: 600;
    text-overflow: ellipsis;
}

.source__unread-dot {
    display: inline-block;
    width: 10px;
    height: 10px;

    vertical-align: middle;

    background-color: var(--color-accent-solid);
    border-radius: 50%;
}
