.sticker {
    padding: var(--space-smaller) var(--space-small);

    color: var(--color-accent-text);
    font-size: var(--size-small);

    background-color: var(--color-accent-bg);
    border-radius: var(--radius);
}

.sticker--right {
    float: right;
}

.sticker--left {
    float: left;
}
