.topics {
    display: flex;
    padding: var(--space-smaller);

    flex-wrap: wrap;
    justify-content: center;
}

.topic {
    position: relative;

    display: flex;
    width: 100%;
    max-width: 100%;
    margin-bottom: var(--space-medium);

    flex-direction: column;
    flex-grow: 1;

    box-shadow: 0 1px 4px 1px var(--color-grey-2);

    transition: box-shadow 0.5s ease-in-out;
}

@media (min-width: 800px) {
    .topic {
        max-width: 31%;
        margin-right: var(--space-small);
        margin-left: var(--space-small);
    }
}

.topic__image {
    display: block;
    width: 100%;
    min-height: 150px;

    filter: brightness(0.5);

    transition: filter 0.3s ease-in-out;
}

.topic__anchor:hover .topic__image,
.topic__anchor:focus .topic__image {
    filter: brightness(0.8);
}

.topic__info {
    position: absolute;
    bottom: var(--space-small);
    left: var(--space-small);

    display: block;

    text-shadow: 0 1px 2px var(--color-purple-9);
}

.topic__title {
    display: block;

    color: var(--color-white);
    font-weight: bold;
}

.topic__collections {
    color: var(--color-white);
    font-size: var(--size-small);

    opacity: 0.8;
}
