.collection__public {
    margin-right: var(--space-small);
}

.collection__topics {
    max-width: 55ch;
    margin-right: auto;
    margin-left: auto;

    font-style: italic;
    text-align: center;
}

.collection__description {
    max-width: 55ch;
    margin: var(--space-large) auto;
    padding-right: var(--space-smaller);
    padding-left: var(--space-smaller);
}

@media (min-width: 800px) {
    .collection__description {
        padding-right: 0;
        padding-left: 0;
    }
}

.collection__number-links {
    margin-bottom: var(--space-small);

    color: var(--color-text-secondary);
    font-size: var(--size-small);
    text-align: center;
}

.list--collections-others {
    margin-top: 0;
}
