.collection__meta {
    display: flex;
    max-width: 55ch;
    margin-right: auto;
    margin-bottom: var(--space-medium);
    margin-left: auto;

    flex-direction: column;
    align-items: center;
}

@media (min-width: 800px) {
    .collection__meta {
        flex-direction: row;
        align-items: baseline;
    }
}

.collection__details {
    flex-grow: 1;

    text-align: center;
}

@media (min-width: 800px) {
    .collection__details {
        text-align: left;
    }
}

.collection__public {
    margin-right: var(--space-small);
}

.collection__actions {
    flex-shrink: 0;
}

.collection__topics {
    max-width: 55ch;
    margin-right: auto;
    margin-left: auto;

    font-style: italic;
    text-align: center;
}

.collection__description {
    max-width: 55ch;
    margin: var(--space-large) auto;
    padding-right: var(--space-smaller);
    padding-left: var(--space-smaller);
}

@media (min-width: 800px) {
    .collection__description {
        padding-right: 0;
        padding-left: 0;
    }
}

.list--collections-others {
    margin-top: 0;
}
