.collections-selector__data {
    display: none;
}

.collections-selector__list {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;

    list-style: none;
}

.collections-selector__item {
    display: flex;
    min-height: 6rem;
    margin-bottom: var(--space-small);
    padding: var(--space-smaller) var(--space-small);

    align-items: center;

    background: linear-gradient(to right, var(--color-purple-2) 50%, var(--color-purple-1) 90%);
    border: var(--width-border) solid var(--color-purple-2);
    border-radius: var(--radius);
}

.collections-selector__item > * + * {
    margin-left: var(--space-small);
}

.collections-selector__item-label {
    flex-grow: 1;
}

.collections-selector__unselect .icon {
    pointer-events: none;
}
