.group + .group {
    margin-top: var(--space-larger);
}

.group__header {
    position: sticky;
    top: 0;

    display: flex;
    padding-right: var(--space-small);
    padding-left: var(--space-small);

    align-items: center;

    background-color: var(--color-white);
    box-shadow: 0 2px 2px var(--color-white);
}

/**
 * This is a hack to create a descending z-index priority over the
 * group__headers. This is because if a group__header has a popup menu in it,
 * the stacking context (created because of the sticky property) makes it
 * appear below the next group__header. This is the case in the news for
 * instance.
 * The hack only works for 10 elements, but hopefully, this should be enough
 * most of the time.
 */
.group:nth-child(1) .group__header {
    z-index: 20;
}

.group:nth-child(2) .group__header {
    z-index: 19;
}

.group:nth-child(3) .group__header {
    z-index: 18;
}

.group:nth-child(4) .group__header {
    z-index: 17;
}

.group:nth-child(5) .group__header {
    z-index: 16;
}

.group:nth-child(6) .group__header {
    z-index: 15;
}

.group:nth-child(7) .group__header {
    z-index: 14;
}

.group:nth-child(8) .group__header {
    z-index: 13;
}

.group:nth-child(9) .group__header {
    z-index: 12;
}

.group:nth-child(10) .group__header {
    z-index: 11;
}

.group__icon {
    margin-right: var(--space-smaller);
}

.group__icon,
.group__header button {
    flex-shrink: 0;
}

.group__icon .icon {
    width: 1.3em;
}

.group__title {
    overflow: hidden;

    margin-top: var(--space-medium);
    margin-bottom: var(--space-medium);

    font-family: var(--font-family-title);
    font-size: var(--size-normal);
    text-overflow: ellipsis;
}

@media (min-width: 800px) {
    .group__title {
        font-size: var(--size-large);
    }
}

.group__subtitle {
    margin-top: 0;
    margin-bottom: 0;
    padding-right: var(--space-small);
    padding-left: var(--space-small);

    font-size: var(--size-small);
}

@media (min-width: 800px) {
    .group__subtitle {
        padding-right: var(--space-medium);
        padding-left: var(--space-medium);
    }
}

.group__separator {
    height: 0.3rem;
    margin-right: var(--space-medium);
    margin-left: var(--space-medium);

    flex: 1;

    background: linear-gradient(to right, var(--color-turquoise-5), var(--color-purple-5), var(--color-turquoise-5));
    border: none;
    border-radius: 2em;
}

.group-selector__group-input {
    display: none;
}

.group-selector__group-select select {
    flex-grow: 1;
}
