.message {
    margin-bottom: var(--space-large);
}

.message__author {
    font-size: var(--size-small);
    font-weight: bold;
    overflow-wrap: anywhere;
}

.message__avatar {
    width: 5rem;

    background-color: var(--color-white);
    border: 2px solid var(--color-turquoise-5);
    border-radius: 50%;
}

.message__date {
    color: var(--color-text-secondary);
    font-size: var(--size-small);
}

.message__content {
    margin-left: 5rem;
    padding: var(--space-smaller);
}

@media (min-width: 800px) {
    .message__content {
        padding: var(--space-small);
    }
}
