.news__refresh-button[disabled] .icon {
    animation: icon-spin 5s linear infinite;
}

.news__source {
    font-style: italic;
}

.news__postpone {
    margin-top: var(--space-large);
    padding: var(--space-medium);
    padding-bottom: var(--space-larger);

    text-align: center;
}

.news__postpone-popup .popup__container {
    font-size: var(--size-normal);
}

.news__postpone-button {
    font-size: 1.2em;
}

.news__source-group {
    margin-top: var(--space-medium);
    margin-bottom: var(--space-medium);
}

.news__source-title {
    overflow: hidden;

    margin: 0;
    padding: var(--space-small);

    font-size: var(--size-normal);
    text-overflow: ellipsis;
}
