@media (max-width: 799px) {
    .news-selection__button {
        display: flex;

        align-items: center;
    }

    .news-selection__image {
        width: auto;
        height: 125px;
        min-height: auto;
    }

    .news-selection__description {
        flex: 1;
    }
}

.news-selection__title {
    display: block;
    margin-top: var(--space-small);
    margin-bottom: var(--space-small);
}

.news__via {
    font-style: italic;
}

.news__postpone {
    margin-top: var(--space-large);
    padding: var(--space-medium);
    padding-bottom: var(--space-larger);

    text-align: center;
}

.news__postpone-popup .popup__container {
    font-size: var(--size-normal);
}

@media (min-width: 800px) {
    .news__postpone-popup .popup__container {
        width: 34rem;
    }
}

.news__postpone-button {
    font-size: 1.2em;

    background-color: var(--color-purple-1);
    border-color: var(--color-purple-4);
}
