.note {
    margin-bottom: var(--space-large);
}

.note__author {
    font-size: var(--size-small);
    font-weight: bold;
    overflow-wrap: anywhere;
}

.note__avatar {
    width: 5rem;

    background-color: var(--color-white);
    border: 2px solid var(--color-turquoise-5);
    border-radius: 50%;
}

.note__date {
    color: var(--color-text-secondary);
    font-size: var(--size-small);
    text-decoration: none;
}

.note__date:hover {
    text-decoration: underline;
}

.note__content {
    overflow: hidden;

    padding: var(--space-smaller);

    text-overflow: ellipsis;
    word-wrap: break-word;
}

@media (min-width: 800px) {
    .note__content {
        margin-left: 5rem;
        padding: var(--space-small);
    }
}

.note__content h1 {
    margin-top: 1.17em;
    margin-bottom: 0.67em;

    font-size: 1.5em;
}

.note__content h2 {
    margin-top: 1.25em;
    margin-bottom: 0.75em;

    font-size: 1.2em;
}

.note__content h3 {
    margin-top: 1.33em;
    margin-bottom: 0.83em;

    font-size: 1em;
}

.note__content code {
    padding-right: var(--space-smaller);
    padding-left: var(--space-smaller);

    font-size: var(--size-small);

    background-color: var(--color-turquoise-1);
    border-radius: var(--radius);
}

.note__content pre {
    overflow: auto;

    padding: var(--space-medium) var(--space-small);

    color: var(--color-white);

    background-color: var(--color-turquoise-9);
    border-top: var(--width-border) solid var(--color-turquoise-5);
    border-bottom: var(--width-border-bold) solid var(--color-turquoise-5);
    border-radius: var(--radius);
}

@media (min-width: 800px) {
    .note__content pre {
        padding-right: var(--space-medium);
        padding-left: var(--space-medium);
    }
}

.note__content pre code {
    padding: 0;

    color: var(--color-white);

    background-color: transparent;
    border: none;
}

.note__content blockquote {
    margin-right: 0;
    margin-left: 0;
    padding: var(--space-medium) var(--space-small);

    font-style: italic;

    background-color: var(--color-turquoise-3);
    background-image: url('../../icons/block-quote.svg');
    background-repeat: no-repeat;
    background-size: 45px;
    border-radius: var(--radius);
}

@media (min-width: 800px) {
    .note__content blockquote {
        padding: var(--space-smaller) var(--space-larger);

        background-size: 75px;
    }
}

.note__content > *:first-child {
    margin-top: 0;
}
