.profile__meta {
    display: flex;
    max-width: 55ch;
    margin-right: auto;
    margin-bottom: var(--space-medium);
    margin-left: auto;

    flex-direction: column;
    align-items: center;
}

@media (min-width: 800px) {
    .profile__meta {
        flex-direction: row;
    }
}

.profile__details {
    flex-grow: 1;

    text-align: center;
}

@media (min-width: 800px) {
    .profile__details {
        text-align: left;
    }
}
