.reading-nav {
    text-align: center;
}

.reading-nav__container {
    display: flex;
    margin: 0;
    margin-bottom: var(--space-large);
    padding-left: 0;

    align-items: stretch;

    border-radius: var(--border-radius);

    list-style: none;
}

.reading-nav__item {
    flex: 1;
}

.reading-nav__anchor {
    display: inline-block;
    width: 100%;
    height: 100%;
    padding: var(--space-small);

    font-weight: 600;
    text-decoration: none;

    background-color: var(--color-accent-bg);
    border-radius: 0;

    outline-offset: -0.3rem;

    transition:
        color 0.3s ease-in-out,
        background-color 0.3s ease-in-out;
}

.reading-nav__anchor:hover {
    background-color: var(--color-accent-bg-hover);
}

.reading-nav__anchor:focus {
    outline-offset: -2px;
}

.reading-nav__anchor[aria-current="page"] {
    background-color: var(--color-caribbean);
}

.reading-nav__item:first-child .reading-nav__anchor {
    border-radius: var(--border-radius) 0 0 var(--border-radius);
}

.reading-nav__item:last-child .reading-nav__anchor {
    border-radius: 0 var(--border-radius) var(--border-radius) 0;
}
