.share {
    display: flex;
    margin-top: var(--space-large);
    margin-bottom: var(--space-large);
    padding: var(--space-small) var(--space-medium);

    flex-direction: column;
    align-items: center;

    background-color: var(--color-purple-1);
    border-radius: var(--radius);
}

@media (min-width: 800px) {
    .share {
        flex-direction: row;
    }
}

.share__text {
    flex: 1;

    font-family: monospace;
    text-align: center;
    word-break: break-all;
}
