.topics-selector {
    margin-bottom: var(--space-medium);

    text-align: center;
}

.topics-selector:last-child {
    margin-bottom: 0;
}

.topics-selector__item {
    display: inline-block;
    margin: var(--space-smaller);
}

.topics-selector__label {
    margin-bottom: 0;
    padding: var(--space-small) var(--space-medium);

    background-color: var(--color-white);
    border: var(--width-border) solid var(--color-border);
    border-radius: var(--radius-button);

    transition:
        background-color 0.2s ease-in-out,
        border-color 0.2s ease-in-out;
}

input[type="checkbox"]:focus + .topics-selector__label {
    box-shadow: 0 0 0 1px var(--color-purple-5);
}

input[type="checkbox"]:focus + .topics-selector__label::before {
    box-shadow: none;
}

input[type="checkbox"]:checked + .topics-selector__label {
    background-color: var(--color-turquoise-3);
    border-color: var(--color-turquoise-6);
}

input[type="checkbox"]:checked + .topics-selector__label::before {
    border-color: var(--color-turquoise-7);
    border-color: transparent;
}

input[type="checkbox"]:checked + .topics-selector__label::after {
    left: 2.5rem;
}
