.topics-selector {
    margin-bottom: var(--space-medium);

    text-align: center;
}

.topics-selector:last-child {
    margin-bottom: 0;
}

.topics-selector__item {
    display: inline-block;
    margin: var(--space-smaller);
}

.topics-selector__label {
    margin-bottom: 0;
    padding: var(--space-small) var(--space-medium);

    background-color: var(--color-white);
    border: 1px solid currentcolor;
    border-radius: var(--radius-button);

    transition:
        background-color 0.2s ease-in-out,
        border-color 0.2s ease-in-out;
}

input[type="checkbox"]:focus + .topics-selector__label {
    outline: 2px solid currentcolor;
    outline-offset: 2px;
}

input[type="checkbox"]:focus + .topics-selector__label::before {
    box-shadow: none;
    outline-color: transparent;
}

input[type="checkbox"]:checked + .topics-selector__label {
    background-color: var(--color-accent-solid);
    border-color: transparent;
}

input[type="checkbox"]:checked + .topics-selector__label::before {
    background-color: transparent;
    border-color: transparent;
}
