{% extends 'layouts/base.html.twig' %}

{% block layout_body %}
    <section class="layout__content layout__content--application">
        <div class="wrapper wrapper--larger wrapper--center cols cols--gap">
            {% block navigation %}
            {% endblock %}

            <div class="col--extend">
                <div class="wrapper wrapper--large wrapper--center">
                    {% block search %}
                    {% endblock %}

                    {% block back %}
                    {% endblock %}
                </div>

                <div class="layout__body layout__body--large">
                    {% block body %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}
