<turbo-frame id="modal-content">
    <div class="flow flow--large">
        <h1 class="text--center" id="modal-title">
            {% block title %}{% endblock %}
        </h1>

        <div>
            {% block body %}
            {% endblock %}
        </div>
    </div>
</turbo-frame>
