{% extends 'layouts/base.html.twig' %}

{% block layout_body %}
    <section class="layout__content layout__content--reading">
        <div class="wrapper wrapper--larger wrapper--center cols cols--gap">
            {% block navigation %}
            {% endblock %}

            <div class="col--extend">
                {% block back %}
                {% endblock %}

                <div class="layout__body layout__body--extend flow flow--large">
                    {% block body %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}
