.cards {
    display: flex;

    flex-wrap: wrap;
    justify-content: center;
}

.cards--in-column {
    flex-direction: column;
}

.card {
    overflow: hidden;

    display: flex;
    margin: var(--space-small);

    flex-basis: 100%;
    flex-direction: column;
    flex-grow: 1;

    box-shadow: 0 1px 4px 1px var(--color-grey-2);

    transition: opacity 0.2s ease-in-out;
}

@media (min-width: 800px) {
    .card {
        flex-basis: 30%;
    }
}

.card--transparent {
    opacity: 0.5;
}

.card__body {
    padding: var(--space-small);

    flex-grow: 1;
}

.card__title {
    margin-top: 0;
    margin-bottom: 0;

    font-size: var(--size-normal);
}

.card__title.icon {
    padding-left: 1.75em;
}

.card__title.icon::before {
    left: 0;
}

.card__details {
    color: var(--color-text-secondary);
    font-size: var(--size-small);
}

.card__footer {
    display: flex;
    padding: var(--space-small);

    align-items: center;
    justify-content: space-between;
}

.card__footer .card__details {
    margin-top: 0;
    margin-bottom: 0;
    padding-right: var(--space-smaller);
    padding-left: var(--space-smaller);
}

.card__footer-group {
    display: flex;

    align-items: center;
}

.card__footer-group > * + * {
    margin-left: var(--space-small);
}
