.cards {
    display: flex;
    padding: var(--space-smaller);

    flex-wrap: wrap;
}

.cards--in-column {
    flex-direction: column;
}

.cards--centered {
    justify-content: center;
}

.card {
    position: relative;

    display: flex;
    width: 100%;
    max-width: 100%;
    margin-bottom: var(--space-medium);

    flex-direction: column;
    flex-grow: 1;

    box-shadow: 0 1px 4px 1px var(--color-grey-2);

    transition:
        background-color 0.5s ease-in-out,
        box-shadow 0.5s ease-in-out;
}

.card:focus-within {
    box-shadow: 0 1px 4px 1px var(--color-purple-2);
}

@media (min-width: 800px) {
    .card {
        margin-right: var(--space-small);
        margin-left: var(--space-small);
    }

    .card:not(.card--fluid) {
        max-width: 31%;
    }
}

.card--shadow {
    background-color: var(--color-grey-1);
    box-shadow: none;
}

.card--shadow:focus-within {
    box-shadow: none;
}

.card__mask {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    display: none;
    padding: var(--space-small);

    flex-direction: column;
    justify-content: flex-end;

    opacity: 0;
    background-color: var(--color-grey-1);

    transition: opacity 0.5s ease-in-out;
}

.card__image {
    display: block;
    width: 100%;
}

.card__body {
    padding: var(--space-small);

    flex-grow: 1;
}

.card__title {
    overflow: hidden;

    margin-top: 0;
    margin-bottom: 0;

    font-size: var(--size-normal);
    line-height: 1.3;
    text-overflow: ellipsis;
}

.card__title.icon {
    padding-left: 1.75em;
}

.card__title.icon::before {
    left: 0;
}

.card__details {
    display: flex;

    color: var(--color-text-secondary);
    font-size: var(--size-small);
    white-space: nowrap;
}

.card__ellipsis {
    overflow: hidden;

    text-overflow: ellipsis;
}

.card__footer {
    display: flex;
    padding: var(--space-small);

    align-items: center;
    justify-content: space-between;

    background-color: var(--color-grey-1);
}

.card__footer--align-end {
    align-items: flex-end;
}

.card__footer .card__details {
    margin-top: 0;
    margin-bottom: 0;
    padding-right: var(--space-smaller);
    padding-left: var(--space-smaller);
}

.card__footer-group {
    display: flex;

    align-items: center;
}

.card__footer-group > * + * {
    margin-left: var(--space-small);
}
