label {
    display: block;
}

.form--inline label {
    display: inline;
}

input {
    width: 100%;
}

.form__actions {
    margin-bottom: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

.form-group {
    margin-top: 0.5em;
    margin-bottom: 1em;
}

.form-group__stack {
    display: flex;

    align-items: baseline;
}

.form-group__caption {
    padding-right: 0.5em;
    padding-left: 0.5em;

    font-size: 0.9em;
}
