.form--centered {
    text-align: center;
}

label {
    display: block;
    margin-bottom: var(--space-medium);
    padding-right: var(--space-small);
    padding-left: var(--space-small);
}

.label--checkbox {
    margin-bottom: 0;
}

input,
textarea {
    width: 100%;
    padding: var(--space-small);

    color: inherit;
    font-family: inherit;
    font-size: var(--size-normal);

    background-color: var(--color-white);
    box-shadow: 2px 2px 4px var(--color-grey-2) inset;
    border: var(--border-width) solid var(--border-color);
    border-radius: var(--border-radius);

    transition: border-color 0.2s ease-in-out;
}

textarea {
    max-width: 100%;
    min-height: 15rem;
}

/**
 * Custom checkboxes to improve contrast and size
 *
 * @see https://www.a11ywithlindsey.com/blog/create-custom-keyboard-accesible-checkboxes
 */
input[type='checkbox'] {
    position: absolute;

    overflow: hidden;
    clip: rect(0, 0, 0, 0);

    width: 1px;
    height: 1px;
}

input[type="checkbox"] + label {
    position: relative;

    display: inline-flex;

    align-items: center;
}

input[type="checkbox"] + label::before {
    content: ' ';

    position: relative;

    width: 2.5rem;
    height: 2.5rem;
    margin-right: var(--space-small);

    vertical-align: middle;

    background-color: var(--color-white);
    border: var(--border-width) solid var(--border-color);
    border-radius: 0.5rem;

    transition:
        border-color 0.2s ease-in-out,
        background-color 0.2s ease-in-out;
}

input[type='checkbox']:hover + label::before,
input[type='checkbox']:focus + label::before {
    background-color: var(--color-turquoise-1);
    border-color: var(--color-turquoise-6);
}

input[type='checkbox']:focus + label::before {
    box-shadow: 0 0 0 1px var(--color-purple-5);
}

input[type="checkbox"]:checked + label::before {
    background-color: var(--color-turquoise-3);
    border-color: var(--color-turquoise-8);
}

input[type="checkbox"]:checked + label::after {
    content: '';

    position: absolute;
    left: 1.5rem;

    width: 1.5rem;
    height: 0.75rem;
    margin-top: -0.3rem;

    border-bottom: var(--border-width) solid var(--color-text);
    border-left: var(--border-width) solid var(--color-text);

    transform: rotate(-45deg);
}

.form-group--invalid input,
.form-group--invalid textarea {
    border-color: var(--border-error-color);
}

input:focus,
textarea:focus {
    border-color: var(--border-active-color);
}

select {
    width: 100%;
    padding: var(--space-small);

    color: inherit;
    font-family: inherit;
    font-size: var(--size-normal);
    text-overflow: ellipsis;

    background-color: var(--color-grey-1);
    border: var(--border-width) solid var(--border-color);
    border-radius: var(--border-radius);

    transition:
        background-color 0.2s ease-in-out,
        border-color 0.2s ease-in-out;
}

@media (min-width: 800px) {
    select {
        width: auto;
        min-width: 50%;
    }
}

select:not([multiple]) {
    padding-right: 3.5rem;

    background-image: url("../icons/core/angle-down-line.svg");
    background-repeat: no-repeat;
    background-position: right 0.75rem top 58%;
    background-size: 2.5rem;

    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
}

select:hover,
select:focus {
    background-color: var(--color-turquoise-1);
}

select:focus {
    border-color: var(--border-active-color);
}

fieldset {
    margin-top: var(--space-medium);
    margin-bottom: var(--space-medium);
    padding: var(--space-small);

    border: var(--border-width) solid var(--color-grey-3);
    border-radius: var(--border-radius);
}

@media (min-width: 1100px) {
    fieldset {
        padding: var(--space-medium);
    }
}

legend {
    padding-right: var(--space-small);
    padding-left: var(--space-small);
}

.fieldset__caption {
    padding-right: 0.5em;
    padding-left: 0.5em;

    color: var(--color-text-secondary);
    font-size: var(--size-small);
}

.form-group {
    margin-bottom: var(--space-medium);
}

.form-group__stack {
    display: flex;

    align-items: center;
}

.form-group__stack > * + * {
    margin-left: var(--space-smaller);
}

.form-group__stack > button {
    flex-shrink: 0;
}

.form-group__caption {
    margin-top: calc(-1 * var(--space-small));
    margin-bottom: var(--space-small);
    padding-right: var(--space-small);
    padding-left: var(--space-small);

    color: var(--color-text-secondary);
    font-size: var(--size-small);
}

.form-group__error {
    margin-top: var(--space-small);
    margin-bottom: var(--space-small);
    padding-right: var(--space-small);
    padding-left: var(--space-small);

    color: var(--color-text-error);
    font-weight: bold;
}

.form__actions {
    display: flex;
    margin-bottom: var(--space-large);
    padding: var(--space-small);

    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.form__actions > * + * {
    margin-top: var(--space-medium);
}

@media (min-width: 800px) {
    .form__actions {
        flex-direction: row-reverse;
    }

    .form__actions--centered {
        justify-content: center;
    }

    .form__actions > * + * {
        margin-top: 0;
    }
}

.form__error {
    margin-top: var(--space-small);
    margin-bottom: var(--space-large);
    padding: var(--space-medium);

    color: var(--color-text-error);
    font-weight: bold;

    border: var(--border-width) solid var(--border-error-color);
    border-radius: var(--border-radius);
}
