.groupnav {
    margin-top: var(--space-large);
    margin-bottom: var(--space-large);
}

.groupnav__container {
    max-width: 50ch;
    margin: 0 auto;
    padding: 0;

    list-style: none;
}

.groupnav__item {
    border: 0.2rem solid var(--color-purple-5);
}

.groupnav__item + .groupnav__item {
    border-top: none;
}

.groupnav__anchor,
.groupnav__button {
    display: block;
    padding: var(--space-medium);

    color: var(--color-text);
    text-decoration: none;

    transition:
        background-color .3s ease-in-out,
        color .3s ease-in-out;
}

.groupnav__anchor {
    padding-left: 6rem;

    background-repeat: no-repeat;
    background-position: 1rem center;
}

.groupnav__button {
    width: 100%;
    padding-left: 6rem;

    font-size: 1em;
    text-align: left;

    background-color: transparent;
    background-repeat: no-repeat;
    background-position: 1rem center;
    border: none;
    border-radius: 0;

    cursor: pointer;
}

.groupnav__anchor:hover,
.groupnav__anchor:focus,
.groupnav__button:hover,
.groupnav__button:focus {
    color: var(--color-purple-6);

    background-color: var(--color-purple-1);
}

.groupnav__item--featured .groupnav__anchor,
.groupnav__item--featured .groupnav__button {
    color: var(--color-purple-6);
    font-weight: bold;
}

.groupnav__item--validate .groupnav__anchor,
.groupnav__item--create .groupnav__button {
    background-image: url("../icons/core/check-line.svg");
}

.groupnav__item--subscription .groupnav__anchor {
    background-image: url("../icons/essential/pop-out-line.svg");
}

.groupnav__item--delete .groupnav__anchor {
    background-image: url("../icons/essential/trash-line.svg");
}

.groupnav__item:first-child,
.groupnav__item:first-child .groupnav__anchor,
.groupnav__item:first-child .groupnav__button {
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

.groupnav__item:last-child,
.groupnav__item:last-child .groupnav__anchor,
.groupnav__item:last-child .groupnav__button {
    border-bottom-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
}
