.header__container {
    display: flex;
    margin-top: var(--space-smaller);
    margin-bottom: var(--space-smaller);

    align-items: center;
}

.header__container > * + * {
    margin-left: var(--space-small);
}

.header__separator {
    flex: 1;
}

.header__link {
    padding: var(--space-medium) var(--space-large);
}

.header__link--action {
    padding: var(--space-smaller) var(--space-medium);
}

.header__link--home {
    font-weight: bold;
}

.header__locale-form label {
    display: inline;
}

.header__locale-form .form-group {
    margin-top: 0;
    margin-bottom: 0;
}

.header__locale-form select {
    width: auto;
}
