.header--turquoise {
    background-color: var(--color-turquoise-3);
}

.header__container {
    display: flex;
    max-width: var(--content-width);
    margin-right: auto;
    margin-left: auto;

    align-items: center;
}

.header__container > * + * {
    margin-left: var(--space-small);
}

.header__separator {
    flex: 1;
}

.header__link {
    padding: var(--space-medium) var(--space-large);
}

.header--turquoise .header__link {
    padding: var(--space-small);

    text-decoration: none;

    border-top: 0.5rem solid transparent;
    border-bottom: 0.5rem solid transparent;
}

.header--turquoise .header__link--icon {
    padding-left: 2.5em;
}

.header--turquoise .header__link--active {
    font-weight: bold;

    border-bottom-color: var(--color-white);
}

.header__link--home {
    font-weight: bold;
}

.header__locale-form label {
    display: inline;
}

.header__locale-form .form-group {
    margin-top: 0;
    margin-bottom: 0;
}

.header__locale-form select {
    width: auto;
}
