.header__container {
    display: flex;
    max-width: var(--content-width);
    margin-right: auto;
    margin-left: auto;

    align-items: stretch;
}

.header__container--centered {
    align-items: center;
}

.header__container > * + * {
    margin-left: var(--space-smaller);
}

@media (min-width: 800px) {
    .header__container > * + * {
        margin-left: var(--space-small);
    }
}

.header__separator {
    flex: 1;
}

.header__image {
    max-height: 3rem;
    margin-top: -0.5rem;

    vertical-align: middle;

    transition: filter 0.3s ease-in-out;
}

.header__image:hover {
    filter: invert(36%) sepia(23%) saturate(4309%) hue-rotate(229deg) brightness(83%) contrast(80%);
}

.header__link {
    padding: var(--space-medium) var(--space-large);

    cursor: pointer;
}

.header__link--icon {
    padding-left: 2.4em;
}

.header__link--icon.icon::before {
    left: 0.65em;
}

.header__link--secondary {
    order: -1;
}

@media (min-width: 800px) {
    .header__link--secondary {
        order: 0;
    }
}

.header__link--home {
    font-weight: bold;
}

.header__locale-form {
    display: flex;

    flex-direction: column;
    justify-content: center;
}

.header__locale-form label {
    display: inline;
}

.header__locale-form .form-group {
    margin-top: 0;
    margin-bottom: 0;
}

.header__locale-form select {
    width: auto;
}
