.icon {
    position: relative;

    padding-left: 2.3em;
}

.icon::before {
    content: '';

    position: absolute;
    top: 50%;
    left: 0.5em;

    width: 1.5em;
    height: 1.5em;
    margin-top: -0.75em;

    background-repeat: no-repeat;
    background-position: center;
    background-size: 1.5em;
}

.icon--anchor::before {
    transition: filter 0.3s ease-in-out;
}

/*
 * This is pretty hacky, but hey, it's also pretty cool! :)
 * @see https://stackoverflow.com/a/53336754
 * @see https://stackoverflow.com/a/43960991
 */
.icon--anchor:hover::before,
.icon--anchor:focus::before {
    filter: invert(36%) sepia(23%) saturate(4309%) hue-rotate(229deg) brightness(83%) contrast(80%);
}

.icon--ghost::before {
    filter: invert(29%) sepia(12%) saturate(383%) hue-rotate(207deg) brightness(95%) contrast(86%);
}

.icon--only {
    display: inline-block;
    width: 1.5em;
    height: 1.25em;
    padding-left: 0;
}

.icon--only::before {
    left: 0;

    margin-top: -0.6em;
}

/* Core */
.icon--avatar::before {
    background-image: url("../icons/core/avatar-line.svg");
}

.icon--bars::before {
    background-image: url("../icons/core/bars-line.svg");
}

.icon--check::before {
    background-image: url("../icons/core/check-line.svg");
}

.icon--cog::before {
    background-image: url("../icons/core/cog-line.svg");
}

.icon--ellipsis-horizontal::before {
    background-image: url("../icons/core/ellipsis-horizontal-line.svg");
}

.icon--eye::before {
    background-image: url("../icons/core/eye-line.svg");
}

.icon--eye-hide::before {
    background-image: url("../icons/core/eye-hide-line.svg");
}

.icon--times::before {
    background-image: url("../icons/core/times-line.svg");
}

/* Essential */
.icon--copy-to-clipboard::before {
    background-image: url("../icons/essential/copy-to-clipboard-line.svg");
}

.icon--library::before,
.icon--collection::before {
    background-image: url("../icons/essential/library-line.svg");
}

.icon--library.icon--solid::before,
.icon--collection.icon--solid::before {
    background-image: url("../icons/essential/library-solid.svg");
}

.icon--logout::before {
    background-image: url("../icons/essential/logout-line.svg");
}

.icon--plus::before {
    background-image: url("../icons/essential/plus-line.svg");
}

.icon--plus-circle::before {
    background-image: url("../icons/essential/plus-circle-line.svg");
}

.icon--tree::before {
    background-image: url("../icons/essential/tree-line.svg");
}

.icon--undo::before {
    background-image: url("../icons/essential/undo-line.svg");
}

/* Text edit */
.icon--language::before {
    background-image: url("../icons/text-edit/language-line.svg");
}

/* Social */
.icon--bookmark::before {
    background-image: url("../icons/social/bookmark-line.svg");
}

.icon--bookmark.icon--solid::before {
    background-image: url("../icons/social/bookmark-solid.svg");
}

.icon--thumbs-down::before {
    background-image: url("../icons/social/thumbs-down-line.svg");
}

/* Technology */
.icon--link::before {
    background-image: url("../icons/technology/link-line.svg");
}
