.layout {
    min-height: 100vh;
}

.layout--connected .layout__header {
    position: fixed;
    z-index: 10;
    bottom: 0;

    width: 100%;

    background: radial-gradient(circle at top, var(--color-turquoise-3) 60%, var(--color-turquoise-4));
    box-shadow: 0 0 5px var(--color-grey-4);
}

@media (min-width: 800px) {
    .layout--connected .layout__header {
        position: static;

        box-shadow: none;
    }

    .layout--blocked .layout__header {
        background: none;
    }
}

.layout--connected .layout__header .header__link {
    height: var(--height-header);
    padding: var(--space-small);

    text-decoration: none;

    border-top: 0.5rem solid transparent;
    border-bottom: 0.5rem solid transparent;
}

@media (min-width: 800px) {
    .layout--connected .layout__header .header__link {
        height: auto;
    }
}

.layout--connected .layout__header .header__link--icon {
    padding-left: 2.4em;
}

.layout--connected .layout__header .header__link--active {
    font-weight: bold;

    border-bottom-color: var(--color-body);
}

.layout--connected .layout__header .header__link--featured {
    display: flex;

    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: var(--color-turquoise-4);
    border: none;
    border-left: var(--border-width) solid var(--color-body);
}

@media (min-width: 800px) {
    .layout--connected .layout__header .header__link--featured {
        border-right: var(--border-width) solid var(--color-body);
    }
}

.layout__main {
    max-width: var(--content-width);
    min-height: 60vh;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 800px) {
    .layout__main {
        margin-bottom: 0;
    }
}

.layout__main:focus {
    outline: none;
}

.layout__back {
    margin-top: var(--space-medium);
    margin-bottom: var(--space-medium);
}

.layout__content {
    padding: var(--space-medium) var(--space-smaller) var(--space-large);

    background-color: var(--color-white);
    box-shadow: 0 1px 2px 1px var(--color-grey-3);
}

.layout--connected .layout__content {
    min-height: calc(100vh - var(--height-header));
    margin-bottom: var(--height-header);
}

@media (min-width: 800px) {
    .layout__content {
        padding: var(--space-medium) var(--space-large) var(--space-large);

        border-radius: 0.5rem;
    }

    .layout--connected .layout__content {
        min-height: auto;
        margin-bottom: 0;
    }

    .layout--connected:not(.layout--blocked) .layout__content {
        margin-top: var(--space-medium);
    }
}

.layout__footer {
    padding: var(--space-large);

    text-align: center;
}

.banner__container {
    display: block;
    padding: var(--space-smaller);

    text-align: center;

    background-color: var(--color-purple-1);
    border-bottom: var(--border-width) solid var(--color-purple-2);
}

.layout__banner--alert .banner__container {
    background-color: var(--color-red-1);
    border-bottom-color: var(--color-red-2);
}

.banner__container--anchor {
    transition: background-color 0.3s ease-in-out;
}

.banner__container--anchor:hover,
.banner__container--anchor:focus {
    color: initial;

    background-color: var(--color-purple-2);
}

.banner__container--anchor:focus {
    outline-color: var(--color-purple-4);
}

.layout--error {
    text-align: center;
}

.layout--error .layout__header {
    padding: var(--space-larger) var(--space-medium);
}

.layout--error .layout__link {
    font-size: var(--size-large);
    text-decoration: none;
}

.layout--error .layout__main {
    max-width: 800px;
}

.layout--error__box {
    position: absolute;
    right: 0;
    left: 0;

    overflow: auto;

    padding: var(--space-medium) var(--space-large);

    color: var(--color-body);
    text-align: left;

    background-color: var(--color-text);
}
