.layout__header {
    max-width: var(--content-width);
    margin-right: auto;
    margin-bottom: var(--space-medium);
    margin-left: auto;
}

.layout__content {
    max-width: var(--content-width);
    min-height: 60vh;
    margin-right: auto;
    margin-left: auto;
    padding: var(--space-small);
}

.layout__footer {
    margin-top: var(--space-large);
    padding: var(--space-medium);

    text-align: center;
}

.banner__container {
    display: block;
    padding: var(--space-smaller);

    text-align: center;

    background-color: var(--color-purple-1);
    border-bottom: var(--border-width) solid var(--color-purple-2);
}

.banner__container--anchor {
    transition: background-color 0.3s ease-in-out;
}

.banner__container--anchor:hover,
.banner__container--anchor:focus {
    color: initial;

    background-color: var(--color-purple-2);
}

.banner__container--anchor:focus {
    outline-color: var(--color-purple-4);
}

.layout--error {
    text-align: center;
}

.layout--error .layout__header {
    padding: var(--space-larger) var(--space-medium);
}

.layout--error .layout__link {
    font-size: var(--size-large);
    text-decoration: none;
}

.layout--error .layout__content {
    max-width: 800px;
}

.layout--error__box {
    position: absolute;
    right: 0;
    left: 0;

    overflow: auto;

    padding: var(--space-medium) var(--space-larger);

    color: var(--color-body);
    text-align: left;

    background-color: var(--color-text);
}
