.list--no-style {
    padding-left: 0;

    list-style: none;
}

.list__item + .list__item {
    margin-top: var(--space-small);
}

.list--spaced .list__item + .list__item {
    margin-top: var(--space-medium);
}
