.paragraph--featured {
    max-width: 50ch;
    margin-right: auto;
    margin-left: auto;

    font-size: var(--size-large);
    font-weight: 600;
    text-align: center;
}

.paragraph--contrasted {
    padding: var(--space-medium);

    color: var(--color-white);

    background-image: radial-gradient(circle at top, var(--color-purple-6) 80%, var(--color-purple-7));
    border-radius: var(--border-radius);
}

.paragraph--centered {
    max-width: 50ch;
    margin-right: auto;
    margin-left: auto;

    text-align: center;
}

.paragraph--success {
    margin-top: var(--space-larger);
    margin-bottom: var(--space-larger);

    color: var(--color-text-success);
    font-size: var(--size-large);
    font-weight: 600;
    text-align: center;
}

.paragraph--secondary,
.text--secondary {
    color: var(--color-text-secondary);
}

.paragraph--placeholder {
    max-width: 50ch;
    margin: var(--space-large) auto;

    color: var(--color-text-secondary);
    font-style: italic;
    text-align: center;
}
