.paragraph--featured {
    font-size: var(--size-large);
    font-weight: 600;
    text-align: center;
}

.paragraph--centered {
    text-align: center;
}

.paragraph--success {
    margin-top: var(--space-larger);
    margin-bottom: var(--space-larger);

    color: var(--color-text-success);
    font-size: var(--size-large);
    font-weight: 600;
    text-align: center;
}

.paragraph--secondary,
.text--secondary {
    color: var(--color-text-secondary);
}

.paragraph--placeholder {
    max-width: 50ch;
    margin: var(--space-large) auto;

    color: var(--color-text-secondary);
    font-style: italic;
    text-align: center;
}
