.popup {
    position: relative;
}

.popup__opener {
    list-style: none;
}

.popup__opener::-webkit-details-marker {
    display: none;
}

.popup__container {
    position: fixed;
    z-index: 10;
    right: 0;
    bottom: 5.5rem;
    left: 0;

    padding: var(--space-medium) var(--space-small);

    background-color: var(--color-turquoise-2);
}

@media (min-width: 800px) {
    .popup__container {
        position: absolute;
        bottom: auto;

        width: 27rem;

        font-size: var(--size-small);

        box-shadow: 0 0 2px 0 var(--color-turquoise-6);
        border-radius: var(--border-radius);
    }

    .popup__container--left {
        right: 0;
        left: auto;

        margin-top: 0.5rem;
    }

    .popup__container--over {
        margin-top: -6.5rem;
        margin-left: -1rem;
    }
}

.popup__title {
    margin-bottom: var(--space-smaller);
    padding-right: var(--space-small);
    padding-left: var(--space-small);

    font-weight: bold;
}

.popup__separator {
    height: 1.5rem;
}

.popup__item--link {
    text-decoration: none;
}

.popup__item--link:hover,
.popup__item--link:focus {
    color: initial;
}

.popup__item--button {
    width: 100%;

    text-align: left;

    background-color: transparent;
    border: none;

    transition: none;

    cursor: pointer;
}

.popup__item--button:focus {
    background-color: transparent;
    border: none;

    outline: 1px dotted var(--color-purple-5);
}

.popup__item {
    display: block;
    padding: var(--space-small) var(--space-small) var(--space-small) 2.5em;

    border-radius: var(--border-radius);
}

.popup__item:hover {
    background-color: var(--color-turquoise-3);
}
