.section--small {
    max-width: 55ch;
    margin-right: auto;
    margin-left: auto;
}

.section__image {
    display: block;
    width: calc(100% + 2 * var(--space-large));
    margin-top: calc(var(--space-medium) * -1);
    margin-bottom: var(--space-medium);
    margin-left: calc(var(--space-large) * -1);

    border-radius: 0.5rem 0.5rem 0 0;

    filter: blur(0.7px);
}

.section__title {
    display: flex;
    margin-top: var(--space-medium);
    margin-bottom: var(--space-large);

    align-items: center;
    justify-content: center;

    font-family: var(--font-family-title);
    letter-spacing: 0.01em;
    text-align: center;
}

.section__title h1 {
    overflow: hidden;

    display: inline-block;
    margin-top: 0;
    margin-bottom: 0;

    text-overflow: ellipsis;
}

.section__title h1::after {
    content: "";

    display: block;
    max-width: 75%;
    height: 0.3rem;
    margin-top: 0.5rem;
    margin-right: auto;
    margin-left: auto;

    background: linear-gradient(to right, var(--color-turquoise-4), var(--color-turquoise-6), var(--color-turquoise-4));
    border-radius: var(--border-radius);
}

.section__intro {
    max-width: 50ch;
    margin: var(--space-large) auto;

    font-style: italic;
    text-align: center;
}

@media (min-width: 800px) {
    .section__intro {
        margin-top: var(--space-larger);
        margin-bottom: var(--space-larger);
    }
}

.subsection {
    margin-top: var(--space-larger);
}

.subsection--small {
    max-width: 55ch;
    margin-right: auto;
    margin-left: auto;
}

.subsection__title {
    margin-top: 0;
    margin-bottom: 0;

    font-family: var(--font-family-title);
    letter-spacing: 0.01em;
}
