.section {
    margin-bottom: var(--space-larger);
}

.section--onboarding {
    max-width: 55ch;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: var(--space-larger);
}

.section__nav {
    display: flex;
    margin: var(--space-small);

    align-items: center;
}

@media (min-width: 800px) {
    .section__nav {
        padding-top: var(--space-small);
        padding-bottom: var(--space-small);
    }
}

.section__nav-separator {
    flex-grow: 1;
}

.section__title {
    display: flex;
    margin-top: var(--space-large);
    margin-bottom: var(--space-large);

    align-items: center;
    justify-content: center;

    font-family: var(--font-family-title);
    letter-spacing: 0.01em;
    text-align: center;
    text-transform: lowercase;
}

.section__title--nolowercase {
    text-transform: none;
}

.section__title h1 {
    overflow: hidden;

    display: inline-block;
    margin-top: 0;
    margin-bottom: 0;

    text-overflow: ellipsis;
}

.section__title h1::after {
    content: "";

    display: block;
    max-width: 75%;
    height: 0.3rem;
    margin-top: 0.5rem;
    margin-right: auto;
    margin-left: auto;

    background: linear-gradient(to right, var(--color-turquoise-4), var(--color-turquoise-6), var(--color-turquoise-4));
    border-radius: var(--border-radius);
}

.section__intro {
    max-width: 50ch;
    margin: var(--space-large) auto;

    font-style: italic;
    text-align: center;
}

@media (min-width: 800px) {
    .section__intro {
        margin-top: var(--space-larger);
        margin-bottom: var(--space-larger);
    }
}

.subsection {
    margin-top: var(--space-larger);
}

.subsection--small {
    max-width: 55ch;
    margin-right: auto;
    margin-left: auto;
}

.subsection__title {
    margin-top: 0;
    margin-bottom: 0;

    font-family: var(--font-family-title);
    letter-spacing: 0.01em;
}
