@import './_anchors.css';
@import './_animations.css';
@import './_buttons.css';
@import './_cards.css';
@import './_fonts.css';
@import './_forms.css';
@import './_header.css';
@import './_icons.css';
@import './_illustrations.css';
@import './_stickers.css';
@import './_layout.css';
@import './_lists.css';
@import './_modal.css';
@import './_paragraphs.css';
@import './_popup.css';
@import './_sections.css';
@import './_variables.css';
@import './components/collections.css';
@import './components/collections-selector.css';
@import './components/links.css';
@import './components/messages.css';
@import './components/share.css';
@import './components/topics-selector.css';

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    margin: 0;
    padding: 0;

    color: var(--color-text);
    font-family: var(--font-family-text);
    font-size: var(--size-base);

    background-color: var(--color-body);
}

.sr-only {
    position: absolute;

    overflow: hidden;
    clip: rect(0, 0, 0, 0);

    width: 1px;
    height: 1px;
}

.js-only {
    display: none;
}

@media (max-width: 800px) {
    .no-mobile {
        display: none;
    }
}

@media (min-width: 800px) {
    .only-mobile {
        display: none;
    }
}

.accessibility-nav {
    position: absolute;

    overflow: hidden;
    clip: rect(0, 0, 0, 0);

    width: 1px;
    height: 1px;
}

.accessibility-nav:focus {
    top: 0.75rem;
    left: 2rem;

    clip: auto;

    width: auto;
    height: auto;
}

hr {
    width: 50%;
    height: 0.3rem;
    margin: var(--space-larger) auto;

    background: linear-gradient(to right, var(--color-turquoise-2), var(--color-turquoise-4), var(--color-turquoise-2));
    border: none;
    border-radius: 2em;
}

.turbolinks-progress-bar {
    position: fixed;
    top: 0;

    height: 0.5rem;

    background-color: var(--color-purple-5);
}
