@import url('@flus/design/src/stylesheets/application.css');
@import url('./utils/text.css');
@import url('./components/anchors.css');
@import url('./components/avatars.css');
@import url('./components/buttons.css');
@import url('./components/collections.css');
@import url('./components/groups.css');
@import url('./components/images.css');
@import url('./components/links.css');
@import url('./components/notepads.css');
@import url('./components/shares.css');
@import url('./components/threads.css');
@import url('./components/topics.css');
@import url('./components/usernames.css');
@import url('./layouts/authentication.css');
@import url('./layouts/back.css');
@import url('./layouts/banner.css');
@import url('./layouts/base.css');
@import url('./layouts/error.css');
@import url('./layouts/header.css');
@import url('./layouts/modal.css');
@import url('./layouts/pagination.css');
@import url('./layouts/popup.css');
@import url('./layouts/search.css');
@import url('./layouts/sidenav.css');

:root {
    background-color: var(--color-background);
}

.badge--warning {
    --badge-color: var(--color-warning-text);
    --badge-background-color: var(--color-warning-bg);
}

.badge--base {
    --badge-color: var(--color-text);
    --badge-background-color: var(--color-background);
}
